/*
 * Notes:
 * RGB/HEXA/PANTONE Converter : http://rgb.to/
 * Flag informations : http://www.vexilla-mundi.com/
 *                     http://www.crwflags.com/fotw/flags/country.html
 */
.flag {
  position:relative;
  margin:0 auto;
}
// Afghanistan
.flag-afg {
  @include ratio(2/3);
  @include incomplete();
  @include three-columns(black, #BF0000, #009900);
};
// Åland Islands
// http://www.crwflags.com/fotw/flags/ax.html
.flag-ala {
  @include ratio(34/52);
  @include nordic-cross-border(#0053A5, #FFCE00, #D21034, 10 * $w52, 4 * $w52, 16 * $w52);
};
// Albania
.flag-alb {
  @include ratio(5/7);
  background:#E41E20;
  &:before {
    @include centered-symbol($UTF8_COUNTRY_ALB, black, 2 * $h3);
  }
};
// Algeria
// http://www.crwflags.com/fotw/flags/dz.html
.flag-dza {
  @include ratio(2/3);
  @include two-columns(#006233, white);
  &:before {
    @include circle(8 * $w30, transparent);
    @include position(6 * $w30, 12 * $w30);
    box-shadow:-($w30 + 1)  0px 0px $w30 #D21034; 
  }
  &:after {
    @include symbol($UTF8_BLACK_STAR, #D21034, 5 * $w30); 
    top:7.5 * $w30 - 3px;
    left:15 * $w30 - 3px;
    transform:rotate(15deg);
  }
};
// American Samoa
// http://en.wikipedia.org/wiki/Flag_of_American_Samoa
.flag-asm {
  @include secondary();
  @include incomplete();
  @include ratio(1/2);

  $hypotenuse: hypotenuse($width, $h2);
  $alpha:round(90 - asin($width / $hypotenuse));
  $distance:$h2 * cos($alpha);
  background-color:white;
  background-image:linear-gradient(#{180 - $alpha}deg, #000066 $distance, transparent $distance),
                   linear-gradient(#{$alpha}deg, #000066 $distance, transparent $distance),
                   linear-gradient(#{180 - $alpha}deg, #BD1021 $distance + $h20, transparent $distance + $h20),
                   linear-gradient(#{$alpha}deg, #BD1021 $distance + $h20, transparent $distance + $h20);
};
// Andorra
// http://en.wikipedia.org/wiki/Flag_of_Andorra
.flag-and {
  @include incomplete();
  @include ratio(7/10);
  @include columns(#0018A8, 8 * $w25, #FEDF00, 9 * $w25, #D0103A, 8 * $w25);
};
// Angola
// http://www.crwflags.com/fotw/flags/ao.html
// http://en.wikipedia.org/wiki/Flag_of_Angola
.flag-ago {
  @include incomplete();
  @include ratio(2/3);
  @include two-lines(#CE1126, #000000);
  &:before {
    @include centered-symbol($UTF8_COUNTRY_AGO, #F9D616, 2 * $h3); 
  }
};
// Anguilla
// http://en.wikipedia.org/wiki/Flag_of_Anguilla
// http://www.vexilla-mundi.com/anguilla_flag.html
.flag-aia {
  @include secondary();
  @include incomplete();
  @include ratio(1/2);
  @include canton-union-jack();
};
// Antarctica
.flag-ata {
  @include secondary();
  @include ratio(2/3);
};
// Antigua and Barbuda
.flag-atg {
  @include secondary();
  @include ratio(2/3);
};
// Argentina
// http://en.wikipedia.org/wiki/Flag_of_Argentina
.flag-arg {
  @include incomplete();
  @include ratio(9/14);
  @include three-lines(#75AADB, white, #75AADB);
};
// Armenia
// http://en.wikipedia.org/wiki/Flag_of_Armenia
.flag-arm {
  @include ratio(1/2);
  @include three-lines(#D90012, #0033A0, #F2A800);
};
// Aruba
.flag-abw {
  @include secondary();
  @include ratio(2/3);
};
// Australia
// http://en.wikipedia.org/wiki/Flag_of_Australia
// http://commons.wikimedia.org/wiki/File_talk:Flag_of_Australia.svg
// http://commons.wikimedia.org/wiki/Commons:Pantone_color_chart/British_flag_colours
// Note: Australia official background color is #002B7F, but UK one is #00247D
.flag-aus {
  @include incomplete();
  @include ratio(1/2);
  @include canton-union-jack(#002664);
};
// Austria
.flag-aut {
  @include ratio(2/3);
  @include three-lines(red, white, red);
};
// Azerbaijan
// http://en.wikipedia.org/wiki/Flag_of_Azerbaijan
.flag-aze {
  @include incomplete();
  @include ratio(1/2);
  @include three-lines(#0097c3, #e00034, #00ae65);

};
// Bahamas
.flag-bhs {
  @include secondary();
  @include ratio(2/3);
};
// Bahrain
.flag-bhr {
  @include ratio(2/3);
};
// Bangladesh
// http://en.wikipedia.org/wiki/Flag_of_Bangladesh
.flag-bgd {
  @include ratio(6/10);
  background:circle(#E11837, 2 * $w10, 4.5 * $w10, $height / 2),
             #01796F
};
// Barbados
.flag-brb {
  @include secondary();
  @include ratio(2/3);
};
// Belarus
.flag-blr {
  @include ratio(2/3);
};
// Belgium
// http://www.crwflags.com/fotw/flags/be.html
// Note: The official state proportions are 13:15, but the flag is usually
// using 2:3
.flag-bel {
  @include ratio(2/3);
  @include three-columns(black, #FFE936, #FF0F21);
};
// Belize
.flag-blz {
  @include ratio(2/3);
};
// Benin
// http://en.wikipedia.org/wiki/Flag_of_Benin
// http://www.vexilla-mundi.com/benin_flag.html
.flag-ben {
  @include ratio(2/3);
  background: v-stripe(#00b140, $w3, 0),
              h-stripe(#c8102e, $h2, 0),
              h-stripe(#fdda24, $h2, $h2);
};
// Bermuda
.flag-bmu {
  @include secondary();
  @include ratio(2/3);
};
// Bhutan
.flag-btn {
  @include ratio(2/3);
};
// Bolivia, Plurinational State of
.flag-bol {
  @include ratio(2/3);
};
// Bonaire, Sint Eustatius and Saba
.flag-bes {
  @include secondary();
  @include ratio(2/3);
};
// Bosnia and Herzegovina
.flag-bih {
  @include ratio(2/3);
};
// Botswana
// http://en.wikipedia.org/wiki/Flag_of_Botswana
// http://www.vexilla-mundi.com/botswana_flag.html
.flag-bwa {
  @include ratio(2/3);
  @include lines(#6cace4, 9 * $h24, white, $h24, black, 4 * $h24, white, $h24, #6cace4, 9 * $h24);
};
// Bouvet Island
.flag-bvt {
  @include secondary();
  @include ratio(2/3);
};
// Brazil
.flag-bra {
  @include ratio(2/3);
};
// British Indian Ocean Territory
.flag-iot {
  @include secondary();
  @include ratio(2/3);
};
// Brunei Darussalam
.flag-brn {
  @include ratio(2/3);
};
// Bulgaria
// http://en.wikipedia.org/wiki/Flag_of_Bulgaria
.flag-bgr {
  @include ratio(3/5);
  @include three-lines(white, #00966E, #D62612);
};
// Burkina Faso
// http://en.wikipedia.org/wiki/Flag_of_Burkina_Faso
// http://www.vexilla-mundi.com/burkina_faso_flag.html
.flag-bfa {
  @include ratio(2/3);
  @include two-lines(#ef3340, #009639);
  &:before {
    @include centered-star(#ffcd00, $h3);
  }
};
// Burundi
.flag-bdi {
  @include ratio(2/3);
};
// Cambodia
// http://www.vexilla-mundi.com/cambodia_flag.html
.flag-khm {
  @include incomplete();
  @include ratio(2/3);
  @include lines(#002f6c, $h4, #d50032, $h2, #002f6c, $h4);

};
// Cameroon
// http://www.crwflags.com/fotw/flags/cm.html
// http://en.wikipedia.org/wiki/Flag_of_Cameroon
// Note: There is no official information on the size of the star
.flag-cmr {
  @include ratio(2/3);
  @include three-columns(#007A5E, #CE1126, #FCD116);
  &:before {
    @include centered-star(#FCD116);
  }
};
// Canada
// http://en.wikipedia.org/wiki/Flag_of_Canada
.flag-can {
  @include ratio(1/2);
  @include columns(#FF0000, $w4, white, $w2, #FF0000, $w4);
  &:before {
    @include centered-symbol($UTF8_MAPLE_LEAF, #FF0000, 5em);
  }
};
// Canary Islands
.flag-ic {
  @include secondary();
  @include incomplete();
  @include ratio(2/3);
  @include three-columns(white, #0768A9, #FFCC00);
};
// Cape Verde
.flag-cpv {
  @include ratio(2/3);
};
// Cayman Islands
// http://en.wikipedia.org/wiki/Flag_of_the_Cayman_Islands
.flag-cym {
  @include incomplete();
  @include ratio(1/2);
  @include canton-union-jack();
};
// Central African Republic
.flag-caf {
  @include ratio(2/3);
};
// Chad
.flag-tcd {
  @include ratio(2/3);
  @include three-columns(#002664, #FECB00, #C60C30);
};
// Chile
// ★
.flag-chl {
  @include ratio(2/3);
};
// China
.flag-chn {
  @include ratio(2/3);
};
// Christmas Island
.flag-cxr {
  @include secondary();
  @include ratio(2/3);
};
// Cocos (Keeling) Islands
.flag-cck {
  @include secondary();
  @include ratio(2/3);
};
// Colombia
.flag-col {
  @include ratio(2/3);
};
// Comoros
.flag-com {
  @include ratio(2/3);
};
// Congo
.flag-cog {
  @include ratio(2/3);
};
// Congo, the Democratic Republic of the
.flag-cod {
  @include ratio(2/3);
};
// Cook Islands
// http://en.wikipedia.org/wiki/Flag_of_the_Cook_Islands
.flag-cok {
  @include secondary();
  @include incomplete();
  @include ratio(1/2);
  @include canton-union-jack();
};
// Costa Rica
// http://en.wikipedia.org/wiki/Flag_of_Costa_Rica
.flag-cri {
  @include ratio(3/5);
  @include lines(#002B7F, $h6, white, $h6, #CE1126, $h3, white, $h6, #002B7F, $h6);
};
// Côte d'Ivoire
// http://en.wikipedia.org/wiki/Flag_of_Ivory_Coast
.flag-civ {
  @include ratio(2/3);
  @include three-columns(#F77F00, white, #009E60);
};
// Croatia
// ☗
.flag-hrv {
  @include ratio(2/3);
};
// Cuba
.flag-cub {
  @include ratio(2/3);
};
// Curaçao
.flag-cuw {
  @include secondary();
  @include ratio(2/3);
};
// Cyprus
.flag-cyp {
  @include ratio(2/3);
};
// Czech Republic
.flag-cze {
  @include ratio(2/3);
};
// Denmark
// http://www.crwflags.com/fotw/flags/dk.html
.flag-dnk {
  @include ratio(28/37);
  @include nordic-cross(#C60C30, white, 4 * $w37, 12 * $w37);
};
// Djibouti
.flag-dji {
  @include ratio(2/3);
};
// Dominica
.flag-dma {
  @include secondary();
  @include ratio(2/3);
};
// Dominican Republic
.flag-dom {
  @include secondary();
  @include ratio(2/3);
};
// Ecuador
.flag-ecu {
  @include ratio(2/3);
};
// Egypt
.flag-egy {
  @include ratio(2/3);
};
// El Salvador
// http://en.wikipedia.org/wiki/Flag_of_El_Salvador
.flag-slv {
  @include incomplete();
  @include ratio(189/335);
  @include three-lines(#0047AB, white, #0047AB);
};
// England
.flag-eng {
  @include ratio(30/50);
  background-color:white;
  background-image:v-stripe(#CF142B, 6 * $w50, 22 * $w50),
                   h-stripe(#CD142B, 6 * $w50, 12 * $w50);
};
// Equatorial Guinea
.flag-gnq {
  @include ratio(2/3);
};
// Eritrea
.flag-eri {
  @include ratio(2/3);
};
// Estonia
.flag-est {
  @include ratio(2/3);
};
// Ethiopia
.flag-eth {
  @include ratio(2/3);
};
// Falkland Islands (Malvinas)
// http://en.wikipedia.org/wiki/Flag_of_the_Falkland_Islands
.flag-flk {
  @include secondary();
  @include incomplete();
  @include ratio(1/2);
  @include canton-union-jack();
};
// Faroe Islands
// http://www.crwflags.com/fotw/flags/fo.html
.flag-fro {
  @include ratio(16/22);
  @include nordic-cross-border(white, #0065BD, #ED2939, 4 * $w22, 2 * $w22, 6 * $w22);
}
// Fiji
.flag-fji {
  @include secondary();
  @include ratio(2/3);
};
// Finland
// http://www.crwflags.com/fotw/flags/fi.html
.flag-fin {
  @include ratio(11/18);
  @include nordic-cross(white, #003580, 3 * $w18, 5 * $w18);
};
// France
// http://en.wikipedia.org/wiki/Flag_of_France
.flag-fra {
  @include ratio(2/3);
  @include three-columns(#002395, white, #ED2939);
};
// French Guiana
.flag-guf {
  @include ratio(2/3);
};
// French Polynesia
.flag-pyf {
  @include secondary();
  @include ratio(2/3);
};
// French Southern Territories
.flag-atf {
  @include secondary();
  @include ratio(2/3);
};
// Gabon
.flag-gab {
  @include ratio(2/3);
};
// Gambia
// http://www.crwflags.com/fotw/flags/gm.html
.flag-gmb {
  @include ratio(2/3);
  @include lines(#ef3340, 6 * $h18, white, $h18, #003da5, 4 * $h18, white, $h18, #009639, 6 * $h18);
};
// Georgia
.flag-geo {
  @include ratio(2/3);
};
// Germany
.flag-deu {
  @include ratio(3/5);
  @include three-lines(#000000, #FF0000, #FFCC00);
};
// Ghana
// http://en.wikipedia.org/wiki/Flag_of_Ghana
.flag-gha {
  @include ratio(2/3);
  @include three-lines(#CE1126, #FCD116, #006B3F);
  &:before {
    @include centered-star(black);
    font-size: $h3;
  }
};
// Gibraltar
.flag-gib {
  @include ratio(2/3);
};
// Greece
.flag-grc {
  @include ratio(2/3);
};
// Greenland
.flag-grl {
  @include ratio(2/3);
};
// Grenada
.flag-grd {
  @include secondary();
  @include ratio(2/3);
};
// Guadeloupe
.flag-glp {
  @include secondary();
  @include ratio(2/3);
};
// Guam
.flag-gum {
  @include secondary();
  @include ratio(2/3);
};
// Guatemala
.flag-gtm {
  @include ratio(2/3);
};
// Guernsey
.flag-ggy {
  @include secondary();
  @include ratio(2/3);
};
// Guinea
// http://en.wikipedia.org/wiki/Flag_of_Guinea
.flag-gin {
  @include ratio(2/3);
  @include three-columns(#CE1126, #FCD116, #009460);
};
// Guinea-Bissau
.flag-gnb {
  @include ratio(2/3);
};
// Guyana
.flag-guy {
  @include ratio(2/3);
};
// Haiti
.flag-hti {
  @include ratio(2/3);
};
// Heard Island and McDonald Islands
.flag-hmd {
  @include secondary();
  @include ratio(2/3);
};
// Holy See (Vatican City State)
.flag-vat {
  @include secondary();
  @include ratio(2/3);
};
// Honduras
.flag-hnd {
  @include ratio(2/3);
};
// Hong Kong
.flag-hkg {
  @include ratio(2/3);
};
// Hungary
.flag-hun {
  @include ratio(2/3);
};
// Iceland
// http://commons.wikimedia.org/wiki/File:Flag_of_Iceland_(with_dimensions).svg
.flag-isl {
  @include ratio(18/25);
  @include nordic-cross-border(#003897, white, #D72828, 4 * $w25, 2 * $w25, 7 * $w25);
}
// India
// ⚙
.flag-ind {
  @include ratio(2/3);
};
// Indonesia
// http://en.wikipedia.org/wiki/Flag_of_Indonesia
.flag-idn {
  @include ratio(2/3);
  @include two-lines(#c8102e, white);
};
// Iran, Islamic Republic of
.flag-irn {
  @include ratio(2/3);
};
// Iraq
.flag-irq {
  @include ratio(2/3);
};
// Ireland
// http://en.wikipedia.org/wiki/Flag_of_Ireland
.flag-irl {
  @include ratio(1/2);
  @include three-columns(#009B48, white, #FF7900);
};
// Isle of Man
.flag-imn {
  @include secondary();
  @include ratio(2/3);
};
// Israel
.flag-isr {
  @include ratio(2/3);
};
// Italy
// http://it.wikipedia.org/wiki/Bandiera_d%27Italia
.flag-ita {
  @include ratio(2/3);
  @include three-columns(#009246, white, #CE2B37);
};
// Jamaica
.flag-jam {
  @include ratio(2/3);
};
// Japan
.flag-jpn {
  @include ratio(2/3);
};
// Jersey
.flag-jey {
  @include secondary();
  @include ratio(2/3);
};
// Jordan
.flag-jor {
  @include ratio(2/3);
};
// Kazakhstan
.flag-kaz {
  @include ratio(2/3);
};
// Kenya
.flag-ken {
  @include ratio(2/3);
};
// Kiribati
.flag-kir {
  @include secondary();
  @include ratio(2/3);
};
// Korea, Democratic People's Republic of
.flag-prk {
  @include ratio(2/3);
};
// Korea, Republic of
.flag-kor {
  @include ratio(2/3);
};
// Kuwait
.flag-kwt {
  @include ratio(2/3);
};
// Kyrgyzstan
.flag-kgz {
  @include ratio(2/3);
};
// Lao People's Democratic Republic
.flag-lao {
  @include ratio(2/3);
};
// Latvia
// http://en.wikipedia.org/wiki/Flag_of_Latvia
.flag-lva {
  @include ratio(1/2);
  @include lines(#9E1B34, 2 * $h5, white, $h5, #9E1B34, 2 * $h5);
};
// Lebanon
.flag-lbn {
  @include ratio(2/3);
};
// Lesotho
.flag-lso {
  @include ratio(2/3);
};
// Liberia
// ★
.flag-lbr {
  @include ratio(2/3);
};
// Libya
.flag-lby {
  @include ratio(2/3);
};
// Liechtenstein
.flag-lie {
  @include ratio(2/3);
};
// Lithuania
.flag-ltu {
  @include ratio(2/3);
};
// Luxembourg
.flag-lux {
  @include ratio(2/3);
};
// Macao
.flag-mac {
  @include ratio(2/3);
};
// Macedonia, the former Yugoslav Republic of
.flag-mkd {
  @include ratio(2/3);
};
// Madagascar
.flag-mdg {
  @include ratio(2/3);
};
// Malawi
.flag-mwi {
  @include ratio(2/3);
};
// Malaysia
.flag-mys {
  @include ratio(2/3);
};
// Maldives
.flag-mdv {
  @include ratio(2/3);
};
// Mali
// http://en.wikipedia.org/wiki/Flag_of_Mali
.flag-mli {
  @include ratio(2/3);
  @include three-columns(#14B53A, #FCD116, #CE1126);
};
// Malta
.flag-mlt {
  @include ratio(2/3);
};
// Marshall Islands
.flag-mhl {
  @include secondary();
  @include ratio(2/3);
};
// Martinique
.flag-mtq {
  @include secondary();
  @include ratio(2/3);
};
// Mauritania
.flag-mrt {
  @include ratio(2/3);
};
// Mauritius
.flag-mus {
  @include secondary();
  @include ratio(2/3);
};
// Mayotte
.flag-myt {
  @include secondary();
  @include ratio(2/3);
};
// Mexico
// http://en.wikipedia.org/wiki/Flag_of_Mexico
.flag-mex {
  @include incomplete();
  @include ratio(4/7);
  @include three-columns(#006847, white, #CE1126);
};
// Micronesia, Federated States of
.flag-fsm {
  @include secondary();
  @include ratio(2/3);
};
// Moldova, Republic of
// http://en.wikipedia.org/wiki/Flag_of_Moldova
// http://www.crwflags.com/fotw/flags/md.html
.flag-mda {
  @include incomplete();
  @include ratio(1/2);
  @include three-columns(#0046AE, #FFD200, #CC092F);
};
// Monaco
// http://en.wikipedia.org/wiki/Flag_of_Monaco
// http://www.crwflags.com/fotw/flags/mc.html
.flag-mco {
  @include ratio(4/5);
  @include two-lines(#c8102e, white);
};
// Mongolia
.flag-mng {
  @include ratio(2/3);
};
// Montenegro
.flag-mne {
  @include ratio(2/3);
};
// Montserrat
// http://en.wikipedia.org/wiki/Flag_of_Montserrat
.flag-msr {
  @include secondary();
  @include incomplete();
  @include ratio(1/2);
  @include canton-union-jack();
};
// Morocco
.flag-mar {
  @include ratio(2/3);
};
// Mozambique
.flag-moz {
  @include ratio(2/3);
};
// Myanmar / Burma
.flag-mmr {
  @include ratio(2/3);
  @include three-lines(#FECB00, #34B233, #EA2839);
  &:before {
    @include centered-star(white);
    font-size: 2 * $h3;
  }
};
// Namibia
.flag-nam {
  @include ratio(2/3);
};
// Nauru
.flag-nru {
  @include secondary();
  @include ratio(2/3);
};
// Nepal
.flag-npl {
  @include ratio(2/3);
};
// Netherlands
.flag-nld {
  @include ratio(2/3);
};
// New Caledonia
.flag-ncl {
  @include secondary();
  @include ratio(2/3);
};
// New Zealand
// http://en.wikipedia.org/wiki/Flag_of_New_Zealand
.flag-nzl {
  @include incomplete();
  @include ratio(1/2);
  @include canton-union-jack();
};
// Nicaragua
// http://en.wikipedia.org/wiki/Flag_of_Nicaragua
// http://www.vexilla-mundi.com/nicaragua_flag.html
.flag-nic {
  @include incomplete();
  @include ratio(3/5);
  @include three-lines(#005eb8, white, #005eb8);

};
// Niger
.flag-ner {
  @include ratio(2/3);
};
// Nigeria
.flag-nga {
  @include ratio(2/3);
};
// Niue
.flag-niu {
  @include secondary();
  @include ratio(2/3);
};
// Norfolk Island
// http://en.wikipedia.org/wiki/Flag_of_Norfolk_Island
.flag-nfk {
  @include incomplete();
  @include ratio(1/2);
  @include columns(#007934, 7 * $w23, white, 9 * $w23, #007934, 7 * $w23);
};
// Northern Mariana Islands
.flag-mnp {
  @include secondary();
  @include ratio(2/3);
};
// Norway
.flag-nor {
  @include ratio(16/22);
  @include nordic-cross-border(#ED2939, white, #002664, 4 * $w22, 2 * $w22, 6 * $w22);
};
// Oman
.flag-omn {
  @include ratio(2/3);
};
// Pakistan
// ☪
.flag-pak {
  @include ratio(2/3);
};
// Palau
.flag-plw {
  @include secondary();
  @include ratio(2/3);
};
// Palestine, State of
.flag-pse {
  @include ratio(2/3);
};
// Panama
.flag-pan {
  @include ratio(2/3);
};
// Papua New Guinea
.flag-png {
  @include ratio(2/3);
};
// Paraguay
.flag-pry {
  @include ratio(2/3);
};
// Peru
.flag-per {
  @include ratio(2/3);
};
// Philippines
.flag-phl {
  @include ratio(2/3);
};
// Pitcairn
// http://en.wikipedia.org/wiki/Flag_and_coat_of_arms_of_the_Pitcairn_Islands
.flag-pcn {
  @include secondary();
  @include incomplete();
  @include ratio(1/2);
  @include canton-union-jack();
};
// Poland
// http://en.wikipedia.org/wiki/Flag_of_Poland
// http://www.crwflags.com/fotw/flags/pl.html#colors
.flag-pol {
  @include ratio(5/8);
  @include two-lines(white, #d22630);
};
// Portugal
.flag-prt {
  @include incomplete();
  @include ratio(2/3);
  @include columns(#FF0000, 2 * $w5, #006600, 3 * $w5);
};
// Puerto Rico
.flag-pri {
  @include secondary();
  @include ratio(2/3);
};
// Qatar
.flag-qat {
  @include ratio(2/3);
};
// Réunion
.flag-reu {
  @include secondary();
  @include ratio(2/3);
};
// Romania
// http://en.wikipedia.org/wiki/Flag_of_Romania
.flag-rou {
  @include ratio(2/3);
  @include three-columns(#002B7F, #FCD116, #CE1126);
};
// Russian Federation
.flag-rus {
  @include ratio(2/3);
};
// Rwanda
// http://www.crwflags.com/fotw/flags/rw.html
.flag-rwa {
  @include incomplete();
  @include ratio(2/3);
  @include lines(#00a3e0, $h2, #f7b500, $h4, #006f3d, $h4);
};
// Saint Barthélemy
.flag-blm {
  @include secondary();
  @include ratio(2/3);
};
// Saint Helena
// http://en.wikipedia.org/wiki/Flag_of_Saint_Helena
.flag-sh-sh {
  @include secondary();
  @include incomplete();
  @include ratio(1/2);
  @include canton-union-jack();
};
// Ascension
// http://en.wikipedia.org/wiki/Ascension_Island
.flag-sh-ac {
  @include secondary();
  @include incomplete();
  @include ratio(1/2);
  @include canton-union-jack();
};
// Tristan da Cunha
// http://en.wikipedia.org/wiki/Tristan_da_Cunha
.flag-sh-ta {
  @include secondary();
  @include incomplete();
  @include ratio(1/2);
  @include canton-union-jack();
};
// Saint Kitts and Nevis
.flag-kna {
  @include secondary();
  @include ratio(2/3);
};
// Saint Lucia
.flag-lca {
  @include secondary();
  @include ratio(2/3);
};
// Saint Martin (French part)
.flag-maf {
  @include secondary();
  @include ratio(2/3);
};
// Saint Pierre and Miquelon
.flag-spm {
  @include secondary();
  @include ratio(2/3);
};
// Saint Vincent and the Grenadines
// http://en.wikipedia.org/wiki/Flag_of_Saint_Vincent_and_the_Grenadines
.flag-vct {
  @include secondary();
  @include ratio(1/2);
  @include columns(#0072C6, $w4, #FCD116, $w2, #009E60, $w4);
  &:before {
    @include losange($w8, #009E60);
    position:absolute;
    content:"";
    top:50%;
    left:50%;
    margin-top:$w8 / 2;
    margin-left:-$w8 / 2;
    box-shadow:(-$w8 - 5px) 0px 0px #009E60, 
                0px (-$w8 - 5px) 0px #009E60;
  }
};
// Samoa
.flag-wsm {
  @include secondary();
  @include ratio(2/3);
};
// San Marino
// http://en.wikipedia.org/wiki/Flag_of_San_Marino
// http://www.vexilla-mundi.com/san_marino_flag.html
.flag-smr {
  @include secondary();
  @include incomplete();
  @include ratio(3/4);
  @include two-lines(white, #62b5e5);
};
// Sao Tome and Principe
.flag-stp {
  @include ratio(2/3);
};
// Saudi Arabia
.flag-sau {
  @include ratio(2/3);
};
// Senegal
// http://en.wikipedia.org/wiki/Flag_of_Senegal
.flag-sen {
  @include ratio(2/3);
  @include three-columns(#00853F, #FDEF42, #E31B23);
  &:before {
    @include centered-star(#00853F);
  }
};
// Serbia
.flag-srb {
  @include ratio(2/3);
};
// Seychelles
.flag-syc {
  @include ratio(2/3);
};
// Sierra Leone
.flag-sle {
  @include ratio(2/3);
};
// Singapore
.flag-sgp {
  @include ratio(2/3);
};
// Sint Maarten (Dutch part)
.flag-sxm {
  @include secondary();
  @include ratio(2/3);
};
// Slovakia
.flag-svk {
  @include ratio(2/3);
};
// Slovenia
.flag-svn {
  @include ratio(2/3);
};
// Solomon Islands
.flag-slb {
  @include secondary();
  @include ratio(2/3);
};
// Somalia
// http://en.wikipedia.org/wiki/Flag_of_Somalia
.flag-som {
  @include ratio(2/3);
  background:#4189DD;
  &:before {
    @include centered-star(white);
    font-size: $h3;
  }
};
// South Africa
.flag-zaf {
  @include ratio(2/3);
};
// South Georgia and the South Sandwich Islands
// http://en.wikipedia.org/wiki/Flag_of_South_Georgia_and_the_South_Sandwich_Islands
.flag-sgs {
  @include secondary();
  @include incomplete();
  @include ratio(1/2);
  @include canton-union-jack();
};
// South Sudan
.flag-ssd {
  @include ratio(2/3);
};
// Spain
.flag-esp {
  @include incomplete();
  @include ratio(2/3);
  @include lines(#AA151B, $h4, #F1BF00, $h2, #AA151B, $h4);
};
// Sri Lanka
.flag-lka {
  @include ratio(2/3);
};
// Sudan
.flag-sdn {
  @include ratio(2/3);
};
// Suriname
// http://www.crwflags.com/fotw/flags/sr.html
// http://www.vexilla-mundi.com/suriname_flag.html
.flag-sur {
  @include ratio(2/3);
  @include lines(#007a33, 4 * $h20, white, 2 * $h20, #c8102e, 8 * $h20, white, 2 * $h20, #007a33, 4 * $h20);
  &:before {
    @include centered-star(#ffcd00);
    font-size: (8 * $h20) * 95.5/100;
  }
};
// Svalbard and Jan Mayen
.flag-sjm {
  @include secondary();
  @include ratio(2/3);
};
// Swaziland
.flag-swz {
  @include ratio(2/3);
};
// Sweden
// http://www.crwflags.com/fotw/flags/se.html
.flag-swe {
  @include ratio(10/16);
  @include nordic-cross(#006AA7, #FECC00, 2 * $w16, 5 * $w16);
};
// Switzerland
// http://www.crwflags.com/fotw/flags/ch.html#col
// 1. Stripes around to "cut" the cross
// 2. White cross
.flag-che {
  @include ratio(1);
  background-color:#FF0000;
  background-image:h-stripe(#FF0000, 15 * $w110, 0px),       /* 1 */ 
                   h-stripe(#FF0000, 15 * $w110, 95 * $w110),/* 1 */
                   v-stripe(#FF0000, 15 * $w110, 0px),       /* 1 */
                   v-stripe(#FF0000, 15 * $w110, 95 * $w110),/* 1 */

                   h-stripe(white, 24 * $w110, 43 * $w110), /* 2 */
                   v-stripe(white, 24 * $w110, 43 * $w110); /* 2 */
};
// Syrian Arab Republic
.flag-syr {
  @include ratio(2/3);
};
// Taiwan, Province of China
.flag-twn {
  @include ratio(2/3);
};
// Tajikistan
// http://www.crwflags.com/fotw/flags/tj.html
// http://www.vexilla-mundi.com/tajikistan_flag.html
.flag-tjk {
  @include incomplete();
  @include ratio(1/2);
  @include lines(#e40046, 2 * $h7, white, 3 * $h7, #009639, 2 * $h7);
};
// Tanzania, United Republic of
.flag-tza {
  @include ratio(2/3);
};
// Thailand
// http://en.wikipedia.org/wiki/Flag_of_Thailand
// http://www.crwflags.com/fotw/flags/th.html
.flag-tha {
  @include ratio(2/3);
  @include lines(#ef3340, $h6, white, $h6, #00205b, $h3, white, $h6, #ef3340, $h6);
};
// Timor-Leste
.flag-tls {
  @include ratio(2/3);
};
// Togo
.flag-tgo {
  @include ratio(2/3);
};
// Tokelau
.flag-tkl {
  @include secondary();
  @include ratio(2/3);
};
// Tonga
.flag-ton {
  @include secondary();
  @include ratio(2/3);
};
// Trinidad and Tobago
.flag-tto {
  @include ratio(2/3);
};
// Tunisia
// ☪
.flag-tun {
  @include ratio(2/3);
};
// Turkey
// ☪
.flag-tur {
  @include ratio(2/3);
};
// Turkmenistan
.flag-tkm {
  @include ratio(2/3);
};
// Turks and Caicos Islands
// http://en.wikipedia.org/wiki/Flag_of_the_Turks_and_Caicos_Islands
.flag-tca {
  @include secondary();
  @include incomplete();
  @include ratio(1/2);
  @include canton-union-jack();
};
// Tuvalu
.flag-tuv {
  @include secondary();
  @include ratio(2/3);
};
// Uganda
.flag-uga {
  @include ratio(2/3);
};
// Ukraine
// http://en.wikipedia.org/wiki/Flag_of_Ukraine
.flag-ukr {
  @include ratio(2/3);
  @include two-lines(#0057b8, #ffd700);
};
// United Arab Emirates
.flag-are {
  @include ratio(2/3);
};
// United Kingdom
.flag-gbr {
  @include ratio(1/2);
  @include union-jack($height, $width);
};
// United States
// ★
.flag-usa {
  @include ratio(2/3);
};
// United States Minor Outlying Islands
.flag-umi {
  @include secondary();
  @include ratio(2/3);
};
// Uruguay
.flag-ury {
  @include ratio(2/3);
};
// Uzbekistan
.flag-uzb {
  @include ratio(2/3);
};
// Vanuatu
.flag-vut {
  @include secondary();
  @include ratio(2/3);
};
// Venezuela, Bolivarian Republic of
.flag-ven {
  @include ratio(2/3);
};
// Viet Nam
// ★
.flag-vnm {
  @include ratio(2/3);
};
// Virgin Islands, British
// http://en.wikipedia.org/wiki/Flag_of_the_British_Virgin_Islands
.flag-vgb {
  @include secondary();
  @include incomplete();
  @include ratio(1/2);
  @include canton-union-jack();
};
// Virgin Islands, U.S.
.flag-vir {
  @include secondary();
  @include ratio(2/3);
};
// Wallis and Futuna
.flag-wlf {
  @include secondary();
  @include ratio(2/3);
};
// Western Sahara
.flag-esh {
  @include ratio(2/3);
};
// Yemen
.flag-yem {
  @include ratio(2/3);
};
// Zambia
.flag-zmb {
  @include ratio(2/3);
};
// Zimbabwe
.flag-zwe {
  @include ratio(2/3);
};
