/* FLAGS */

.flag {
  width:$flagWidth;
  height:$flagHeight;
  position:relative;
}

// Afghanistan
// TODO: Incomplete
.flag-afg {
  @include stripes-vertical-three(black, #BF0000, #009900);
}
// Åland Islands
.flag-ala {
  @include nordic-cross-border(#0053A5, #D21034, #FFCE00);
}
// Albania
// TODO: Incomplet
.flag-alb {
  background:#E41E20;
}
// Algeria
/**
 * Two large borders to make the two columns. And an UTF-8 symbol vertically
 * and horizontally centered
 **/
.flag-dza {
  border-left:($flagWidth / 2) solid #006233;
  border-right:($flagWidth /2) solid white;
  &:before {
    content: "☪";
    color: #D21034;
    position: absolute;
    display: block;
    top: 0px;
    left: -($flagWidth / 2);
    width:$flagWidth;
    height: $flagHeight;
    line-height: $flagHeight;
    text-align: center;
    font-size: 7em;
  }
}
// American Samoa
.flag-asm {
}
// Andorra
.flag-and {
}
// Angola
.flag-ago {
}
// Anguilla
.flag-aia {
}
// Antarctica
.flag-ata {
}
// Antigua and Barbuda
.flag-atg {
}
// Argentina
.flag-arg {
}
// Armenia
.flag-arm {
  @include stripes-horizontal-three(#D90012, #0033A0, #F2A800);
}
// Aruba
.flag-abw {
}
// Australia
.flag-aus {
}
// Austria
.flag-aut {
}
// Azerbaijan
.flag-aze {
}
// Bahamas
.flag-bhs {
}
// Bahrain
.flag-bhr {
}
// Bangladesh
.flag-bgd {
}
// Barbados
.flag-brb {
}
// Belarus
.flag-blr {
}
// Belgium
.flag-bel {
  @include stripes-vertical-three(black, #FAE042, #ED2939);
}
// Belize
.flag-blz {
}
// Benin
.flag-ben {
}
// Bermuda
.flag-bmu {
}
// Bhutan
.flag-btn {
}
// Bolivia, Plurinational State of
.flag-bol {
  @include stripes-horizontal-three(#D52B1E, #FFE000, #007934);
}
// Bonaire, Sint Eustatius and Saba
.flag-bes {
}
// Bosnia and Herzegovina
.flag-bih {
}
// Botswana
.flag-bwa {
}
// Bouvet Island
.flag-bvt {
}
// Brazil
.flag-bra {
}
// British Indian Ocean Territory
.flag-iot {
}
// Brunei Darussalam
.flag-brn {
}
// Bulgaria
.flag-bgr {
  @include stripes-horizontal-three(white, #00966E, #D62612);
}
// Burkina Faso
.flag-bfa {
}
// Burundi
.flag-bdi {
}
// Cambodia
.flag-khm {
}
// Cameroon
.flag-cmr {
  @include stripes-vertical-three(#007A5E, #CE1126, #FCD116);
  &:before {
    @include symbol-central-column("★", #FCD116)
  }
}
// Canada
.flag-can {
}
// Cape Verde
.flag-cpv {
}
// Cayman Islands
.flag-cym {
}
// Central African Republic
.flag-caf {
}
// Chad
.flag-tcd {
  @include stripes-vertical-three(#002664, #FECB00, #C60C30);
}
// Chile
.flag-chl {
}
// China
.flag-chn {
}
// Christmas Island
.flag-cxr {
}
// Cocos (Keeling) Islands
.flag-cck {
}
// Colombia
.flag-col {
}
/**
 * Comoros
 *
 * The Comoros flag is made of three elements. The div itself for the 4 colored
 * lines, :before for the green triangle and :after for the crescent and stars.
 *
 * See below for detail of each element.
 **/
// Comoros
.flag-com {
  // The 4 lines are simply made of 4 inset drop-shadows.
  box-shadow:inset 0px $lineQuarter 0px #FFC61E,
             inset 0px (2 * $lineQuarter) 0px white,
             inset 0px (3 * $lineQuarter) 0px #CE1126,
             inset 0px (4 * $lineQuarter) 0px #3A75C4;
  /**
   * The green triangle is absolutly positioned and shaped using transparent
   * borders.
   *
   * 1. Position on the left
   * 2. Create triangle with borders
   **/
  &:before {
    content:""; /* 1 */
    position:absolute; /* 1 */
    top:0; /* 1 */
    left:0; /* 1 */
    display:block; /* 1 */
    border-left:($flagWidth / 2) solid #3D8E33; /* 2 */
    border-top:($flagHeight / 2) solid transparent; /* 2 */
    border-bottom:($flagHeight / 2) solid transparent; /* 2 */
  }
  /**
   * The crescent and stars is a little more tricky. The crescent itself is
   * simply a green rounded block with a white box-shadow. The stars are UTF-8
   * stars with a repeating text-shadow.
   *
   * 1. Position element
   * 2. Stars positionned in crescent and repeated through text-shadow
   * 3. Create crescent by doing an eclipse with the circle box-shadow
   */
  &:after {
    position: absolute;
    display: block;
    width: ($flagHeight / 2.5); /* 1 */
    height: ($flagHeight / 2.5); /* 1 */
    top: 50%; /* 1 */
    margin-top:-($flagHeight / 5); /* 1 */
    left: ($flagWidth / 10);/* 1 */

    content: "★"; /* 2 */
    color: white; /* 2 */
    text-align:center; /* 2 */
    text-indent: -10px; /* 2 */
    text-shadow:0px 15px 0px white, 0px 30px 0px white, 0px 45px 0px white; /* 2 */
    line-height:18px; /* 2 */

    background: #3D8E33; /* 3 */
    border-radius: 100%; /* 3 */
    box-shadow: -11px 0px 0px white; /* 3 */
  }
}
// Congo
.flag-cog {
}
// Congo, the Democratic Republic of the
.flag-cod {
}
// Cook Islands
.flag-cok {
}
// Costa Rica
.flag-cri {
}
// Côte d'Ivoire
.flag-civ {
  @include stripes-vertical-three(#F77F00, white, #009E60);
}
// Croatia
.flag-hrv {
}
// Cuba
.flag-cub {
}
// Curaçao
.flag-cuw {
}
// Cyprus
.flag-cyp {
}
// Czech Republic
.flag-cze {
}
// Denmark
.flag-dnk {
  @include nordic-cross(#C60C30, white);
}
// Djibouti
.flag-dji {
}
// Dominica
.flag-dma {
}
// Dominican Republic
.flag-dom {
}
// Ecuador
.flag-ecu {
}
// Egypt
.flag-egy {
}
// El Salvador
.flag-slv {
}
// Equatorial Guinea
.flag-gnq {
}
// Eritrea
.flag-eri {
}
// Estonia
.flag-est {
  @include stripes-horizontal-three(#4891D9, black, white);
}
// Ethiopia
.flag-eth {
}
// Falkland Islands (Malvinas)
.flag-flk {
}
// Faroe Islands
.flag-fro {
  @include nordic-cross-border(white, #ED2939, #0065BD);
}
// Fiji
.flag-fji {
}
// Finland
.flag-fin {
  @include nordic-cross(white, #003580);
}
// France
.flag-fra {
  @include stripes-vertical-three(#002395, white, #ED2939);
}
// French Guiana
.flag-guf {
}
// French Polynesia
.flag-pyf {
}
// French Southern Territories
.flag-atf {
}
// Gabon
.flag-gab {
  @include stripes-horizontal-three(#009E60, #FCD116, #3A75C4);
}
// Gambia
.flag-gmb {
}
// Georgia
.flag-geo {
}
// Germany
.flag-deu {
  @include stripes-horizontal-three(black, #DD0000, #FFCE00);
}
// Ghana
.flag-gha {
  @include stripes-horizontal-three(#CE1126, #FCD116, #006B3F);
  &:before {
    @include symbol-central-line("★", black)
  }
}
// Gibraltar
.flag-gib {
}
// Greece
.flag-grc {
}
// Greenland
.flag-grl {
}
// Grenada
.flag-grd {
}
// Guadeloupe
.flag-glp {
}
// Guam
.flag-gum {
}
// Guatemala
.flag-gtm {
}
// Guernsey
.flag-ggy {
}
// Guinea
.flag-gin {
  @include stripes-vertical-three(#CE1126, #FCD116, #009460);
}
// Guinea-Bissau
.flag-gnb {
}
// Guyana
.flag-guy {
}
// Haiti
.flag-hti {
}
// Heard Island and McDonald Islands
.flag-hmd {
}
// Holy See (Vatican City State)
.flag-vat {
}
// Honduras
.flag-hnd {
}
// Hong Kong
.flag-hkg {
}
// Hungary
.flag-hun {
  @include stripes-horizontal-three(#CD2A3E, white, #436F4D);
}
// Iceland
.flag-isl {
  @include nordic-cross-border(#003897, #D72828, white);
}
// India
.flag-ind {
}
// Indonesia
.flag-idn {
}
// Iran, Islamic Republic of
.flag-irn {
}
// Iraq
.flag-irq {
}
// Ireland
.flag-irl {
  @include stripes-vertical-three(#009B48, white, #FF7900);
}
// Isle of Man
.flag-imn {
}
// Israel
.flag-isr {
}
// Italy
.flag-ita {
  @include stripes-vertical-three(#009246, white, #CE2B37);
}
// Jamaica
.flag-jam {
}
// Japan
.flag-jpn {
}
// Jersey
.flag-jey {
}
// Jordan
.flag-jor {
}
// Kazakhstan
.flag-kaz {
}
// Kenya
.flag-ken {
}
// Kiribati
.flag-kir {
}
// Korea, Democratic People's Republic of
.flag-prk {
}
// Korea, Republic of
.flag-kor {
}
// Kuwait
.flag-kwt {
}
// Kyrgyzstan
.flag-kgz {
}
// Lao People's Democratic Republic
.flag-lao {
}
// Latvia
.flag-lva {
}
// Lebanon
.flag-lbn {
}
// Lesotho
.flag-lso {
}
// Liberia
.flag-lbr {
}
// Libya
.flag-lby {
}
// Liechtenstein
.flag-lie {
}
// Lithuania
.flag-ltu {
  @include stripes-horizontal-three(#FDB913, #006A44, #C1272D);
}
// Luxembourg
.flag-lux {
  @include stripes-horizontal-three(#ED2939, white, #00A1DE);
}
// Macao
.flag-mac {
}
// Macedonia, the former Yugoslav Republic of
.flag-mkd {
}
// Madagascar
.flag-mdg {
}
// Malawi
.flag-mwi {
}
// Malaysia
.flag-mys {
}
// Maldives
.flag-mdv {
}
// Mali
.flag-mli {
  @include stripes-vertical-three(#14B53A, #FCD116, #CE1126);
}
// Malta
.flag-mlt {
}
// Marshall Islands
.flag-mhl {
}
// Martinique
.flag-mtq {
}
// Mauritania
.flag-mrt {
  @include symbol-central-plain(#006233, "☪", #FFC400);
  &:after {
    transform:rotate(-90deg);
    font-size:8em;
  }
}
// Mauritius
.flag-mus {
}
// Mayotte
.flag-myt {
}
// Mexico
// TODO: Incomplete
.flag-mex {
  @include stripes-vertical-three(#006847, white, #CE1126);
}
// Micronesia, Federated States of
.flag-fsm {
}
// Moldova, Republic of
// TODO: Incomplete
.flag-mda {
  @include stripes-vertical-three(#0046AE, #FFD200, #CC092F);
}
// Monaco
.flag-mco {
}
// Mongolia
.flag-mng {
}
// Montenegro
.flag-mne {
}
// Montserrat
.flag-msr {
}
// Morocco
.flag-mar {
  @include symbol-central-plain(#C1272D, "\e800", #006233); //TODO: Should be \26E4
  &:after {
    font-weight:bold;
  }
}
// Mozambique
.flag-moz {
}
// Myanmar
.flag-mmr {
}
// Namibia
.flag-nam {
}
// Nauru
.flag-nru {
}
// Nepal
.flag-npl {
}
// Netherlands
.flag-nld {
  @include stripes-horizontal-three(#AE1C28, white, #21468B);
}
// New Caledonia
.flag-ncl {
}
// New Zealand
.flag-nzl {
}
// Nicaragua
.flag-nic {
}
// Niger
.flag-ner {
}
// Nigeria
.flag-nga {
}
// Niue
.flag-niu {
}
// Norfolk Island
.flag-nfk {
}
// Northern Mariana Islands
.flag-mnp {
}
// Norway
.flag-nor {
  @include nordic-cross-border(#ED2939, #002664, white);
}
// Oman
.flag-omn {
}
// Pakistan
.flag-pak {
}
// Palau
.flag-plw {
}
// Palestine, State of
.flag-pse {
}
// Panama
.flag-pan {
}
// Papua New Guinea
.flag-png {
}
// Paraguay
// TODO: Incomplete symbol
.flag-pry {
  @include stripes-horizontal-three(#D52B1E, white, #0038A8);
}
// Peru
.flag-per {
}
// Philippines
.flag-phl {
}
// Pitcairn
.flag-pcn {
}
// Poland
.flag-pol {
}
// Portugal
.flag-prt {
}
// Puerto Rico
.flag-pri {
}
// Qatar
.flag-qat {
}
// Réunion
.flag-reu {
}
// Romania
.flag-rou {
  @include stripes-vertical-three(#002B7F, #FCD116, #CE1126);
}
// Russian Federation
.flag-rus {
  @include stripes-horizontal-three(white, #0039A6, #D52B1E);
}
// Rwanda
.flag-rwa {
}
// Saint Barthélemy
.flag-blm {
}
// Saint Helena, Ascension and Tristan da Cunha
.flag-shn {
}
// Saint Kitts and Nevis
.flag-kna {
}
// Saint Lucia
.flag-lca {
}
// Saint Martin (French part)
.flag-maf {
}
// Saint Pierre and Miquelon
.flag-spm {
}
// Saint Vincent and the Grenadines
.flag-vct {
}
// Samoa
.flag-wsm {
}
// San Marino
.flag-smr {
}
// Sao Tome and Principe
.flag-stp {
}
// Saudi Arabia
.flag-sau {
}
// Senegal
.flag-sen {
  @include stripes-vertical-three(#00853F, #FDEF42, #E31B23);
  &:before {
    @include symbol-central-column("★", #00853F)
  }
}
// Serbia
.flag-srb {
}
// Seychelles
.flag-syc {
}
// Sierra Leone
.flag-sle {
  @include stripes-horizontal-three(#1EB53A, white, #0072C6);
}
// Singapore
.flag-sgp {
}
// Sint Maarten (Dutch part)
.flag-sxm {
}
// Slovakia
.flag-svk {
}
// Slovenia
.flag-svn {
}
// Solomon Islands
.flag-slb {
}
// Somalia
.flag-som {
  @include symbol-central-plain(#4189DD, "★", white);
}
// South Africa
.flag-zaf {
}
// South Georgia and the South Sandwich Islands
.flag-sgs {
}
// South Sudan
.flag-ssd {
}
// Spain
.flag-esp {
}
// Sri Lanka
.flag-lka {
}
// Sudan
.flag-sdn {
}
// Suriname
.flag-sur {
}
// Svalbard and Jan Mayen
.flag-sjm {
}
// Swaziland
.flag-swz {
}
// Sweden
.flag-swe {
  @include nordic-cross(#006AA7, #FECC00);
}
// Switzerland
.flag-che {
}
// Syrian Arab Republic
.flag-syr {
}
// Taiwan, Province of China
.flag-twn {
}
// Tajikistan
.flag-tjk {
}
// Tanzania, United Republic of
.flag-tza {
}
// Thailand
.flag-tha {
}
// Timor-Leste
.flag-tls {
}
// Togo
.flag-tgo {
}
// Tokelau
.flag-tkl {
}
// Tonga
.flag-ton {
}
// Trinidad and Tobago
.flag-tto {
}
/**
 * Tunisia
 * Displaying a Crescent and Star in the middle, but adding white circle behind
 * it by using the :before element
 * TODO: By using the UTF-8 char, flag is not exactly as it should be
 * http://en.wikipedia.org/wiki/Flag_of_Tunisia
 **/
.flag-tun {
  @include symbol-central-plain(#E70013, "☪", #E70013);
  &:before {
    content:"";
    display:block;
    width:(8 * $unit);
    height:(8 * $unit);
    border-radius:100%;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:(-4 * $unit);
    margin-left:(-4 * $unit);
    background:white;
  }
}
// Turkey
.flag-tur {
  background:#E30A17;
  @include crescent(80px, 65px, white, #E30A17);
  &:before {
    transform: translateX(-(4 * $unit));
  }
  &:after {
    content: "★";
    color:white;
    font-size: 3em;
    text-indent: 50px;
    transform:translateX(-(4 * $unit)) rotate(-10deg);
  }
}
// Turkmenistan
.flag-tkm {
}
// Turks and Caicos Islands
.flag-tca {
}
// Tuvalu
.flag-tuv {
}
// Uganda
.flag-uga {
}
// Ukraine
.flag-ukr {
}
// United Arab Emirates
.flag-are {
}
// United Kingdom
.flag-gbr {
}
// United States
.flag-usa {
}
// United States Minor Outlying Islands
.flag-umi {
}
// Uruguay
.flag-ury {
}
// Uzbekistan
.flag-uzb {
}
// Vanuatu
.flag-vut {
}
// Venezuela, Bolivarian Republic of
.flag-ven {
}
// Viet Nam
.flag-vnm {
  @include symbol-central-plain(#E21C1C, "★", #FFFF00);
}
// Virgin Islands, British
.flag-vgb {
}
// Virgin Islands, U.S.
.flag-vir {
}
// Wallis and Futuna
.flag-wlf {
}
// Western Sahara
.flag-esh {
}
// Yemen
.flag-yem {
  @include stripes-horizontal-three(#CE1126, white, black);
}
// Zambia
.flag-zmb {
}
// Zimbabwe
.flag-zwe {
}

