/* MIXINS */


/**
 * Star and crescent : ☪
 * ★☆☨☬☭☽☾♢♦⚙⚜⚫⚪
 **/

/**
 * 2 horizontal stripes of equal height
 * Eg. Czech, Djibouti, Philippines
 *
 * 1. Top line
 * 2. Bottom line
 **/
@mixin rows-2($top, $bottom) {
  box-shadow:inset 0px $h2 0px $top,
             inset 0px $height 0px $bottom;
}
/**
 * 3 horizontal stripes of equal height
 * Eg. Netherlands, Germany, Luxembourg
 *
 * 1. Top line
 * 2. Middle line
 * 3. Bottom line
 **/
@mixin rows-3($top, $middle, $bottom) {
  box-shadow:inset 0px $h3 0px $top,
             inset 0px (2 * $h3) 0px $middle,
             inset 0px (3 * $h3) 0px $bottom;
}

/**
 * 3 vertical stripes of equal width
 * Eg. France, Italy, Belgium
 *
 * 1. Left
 * 2. Center
 * 3. Right
 **/
@mixin columns-3($left, $center, $right) {
  box-shadow:inset $w3 0px 0px $left,
             inset (2 * $w3) 0px 0px $center,
             inset (3 * $w3) 0px 0px $right;
}

/**
 * Nordic cross, slightly on the left.
 * Eg. Sweden, Norway or Finland.
 *
 * Making three horizontal stripes with box-shadow, and a vertical one with
 * :before
 *
 * 1. Background
 * 2. Cross
 **/
@mixin nordic-cross($background, $cross) {
  $x: $width / 7;
  $y: $height / 5;
  box-shadow:inset 0px (2 * $y) 0px $background, /* 1 */
             inset 0px (3 * $y) 0px 0px $cross, /* 2 */
             inset 0px (5 * $y) 0px 0px $background; /* 1 */
  &:before {
    content:"";
    position:absolute;
    display:block;
    background:$cross; /* 2 */
    width: $y; /* 2 */
    height:$height; /* 2 */
    top:0; /* 2 */
    left: (2 * $x); /* 2 */
  }
}
/**
 * Nordic cross with borders.
 *
 * We set a background color and will the define the cross by positioning
 * 4 squares in the 4 angles, each composed of a filled box-shadow and 3 border
 * box-shadow.
 **/
@mixin nordic-cross-border($background-color, $cross-color, $border-color) {
  $x: $width / 22;
  background:$cross-color;
  overflow:hidden;
  &:before {
    content:"";
    position:absolute;
    top:0;
    right:0;
    width:(12 * $x);
    height:(6 * $x);
    background:$background-color;
    box-shadow:0px $x 0px $border-color,  /* Bottom */
               -$x 0px 0px $border-color, /* Left */
               -$x $x 0px $border-color, /* Bottom-left corner */

               /* Bottom right */
               0px (10 * $x) 0px $background-color, /* Background */
               0px (9 * $x) 0px $border-color, /* Top */
               -$x (10 * $x) 0px $border-color, /* Left */
               -$x (9 * $x) 0px $border-color, /* Top-left corner */

               /* Top left */
               (-16 * $x) 0px 0px $background-color, /* Background */
               (-16 * $x) $x 0px $border-color, /* Bottom */
               (-15 * $x) 0px 0px $border-color, /* Right */
               (-15 * $x) $x 0px $border-color, /* Bottom-right corner */

               /* Bottom left */
               (-16 * $x) (10 * $x) 0px $background-color, /* Background */
               (-16 * $x) (9 * $x) 0px $border-color, /* Top */
               (-15 * $x) (10 * $x) 0px $border-color, /* Right */
               (-15 * $x) (9 * $x) 0px $border-color; /* Top-right corner */
  }
}

/**
 * Saltire. Cross coming from the angle and separating the flag in 4 parts.
 * eg. Jamaica.
 *
 * The :after and :before element are used to do the triangles by using the
 * transparent border technique while the cross itself is only the div
 * background color.
 *
 * Note: We use dotted borders instead of solid because the alias less.
 *
 * 1. Width of the cross, used as reference
 * 2. Keep enough space in the center for 1 full cross width vertically
 * 3. Keep enough space in the center for 2 full cross width horizontally
 * 4. Background is the cross.
 * 5. Top triangle
 * 6. Right triangle
 * 7. Bottom triangle
 * 8. Left triangle
 * 9. Move triangle slightly so the do not start in the angles
 */
@mixin saltire($cross-color, $top-color, $right-color, $bottom-color, $left-color) {
  $saltire-width:20px; /* 1 */
  $top-height:($height - $saltire-width) / 2; /* 2 */
  $side-width:($width - 2 * $saltire-width) / 2; /* 3 */
  background:$cross-color; /* 4 */
  &:before, &:after {
    content:"";
    position:absolute;
    display:block;
  }
  // Top and bottom
  &:before {
    top:0; /* 9 */
    left:$saltire-width; /* 9 */
    height: $saltire-width; /* 2 */
    border-top:$top-height dotted $top-color; /* 5 */
    border-bottom:$top-height dotted $bottom-color; /* 7 */
    border-left: $side-width solid transparent;
    border-right:$side-width solid transparent;
  }
  // Right and left
  &:after {
    top:($saltire-width / 2); /* 9 */
    left:0px; /* 9 */
    width:(2 * $saltire-width); /* 3 */
    border-top:$top-height solid transparent;
    border-bottom:$top-height solid transparent;
    border-right:$side-width dotted $right-color; /* 6 */
    border-left: $side-width dotted $left-color; /* 8 */
  }
}

@mixin symbol($symbol, $color) {
  content:$symbol;
  color:$color;
  position:absolute;
}


/**
 * Put a symbol on the left of the flag.
 * Eg. Djibouti, Jordan
 **/
@mixin symbol-left($symbol, $color, $width) {
  @include symbol($symbol, $color);
  display:block;
  top:0;
  left:0;
  height:$height;
  line-height:$height;
  width:$width;
  text-align:center;
  font-size:2em;
}


/**
 * Horizontally and vertically centered symbol.
 * Note: Must be used on a :before/:after element
 * Eg. Algeria, Cameroon, Senegal
 **/
@mixin centered-symbol($symbol, $color) {
  @include symbol($symbol, $color);
  display:block;
  height:$height;
  width:$width;
  font-size:4em;
  line-height:$height;
  text-align:center;
}

/**
 * Circle
 * Note: Must be used on a :before/:after
 **/
@mixin circle($width, $color) {
  content:"";
  position:absolute;
  display:block;
  width:$width;
  height:$width;
  top:50%;
  left:50%;
  margin-top:-($width/2);
  margin-left:-($width/2);
  border-radius:50%;
  background-color:$color;
}

/**
 * Triangle
 * Note: Must be used on a :before/:after
 **/
@mixin triangle-left($width, $height, $color) {
    content:"";
    position:absolute;
    top:0;
    left:0;
    display:block;
    border-left:$width solid $color;
    border-top:($height / 2) solid transparent;
    border-bottom:($height / 2) solid transparent;
}

/**
 * Mark incomplete flags with a red title
 **/
@mixin incomplete() {
  & + strong {
    color:red;
  }
}

/**
 * Creating a crescent by overlapping two circles, like an eclipse.
 * This will use both :before and :after and will center them by default
 * Use transform: translateX() to move it around if you do not need it in the
 * center.
 *
 * 1. Position :before vertically and horizontally centered
 * 2. Position :after the same, but slightly more on the right
 * 3. Center :after content, just in case
 **/
@mixin crescent($outer-width, $inner-width, $color, $background) {
  &:before, &:after {
    content:"";
    display:block;
    position:absolute;
    top: 50%;
    left: 50%;
    border-radius:100%;
  }
  // Background circle, used as the crescent
  &:before {
    background:$color;
    width:$outer-width; /* 1 */
    height:$outer-width; /* 1 */
    margin-top:(-$outer-width / 2); /* 1 */
    margin-left:(-$outer-width / 2); /* 1 */
  }
  // Foregroup circle, used to to the eclipse
  &:after {
    background: $background;
    width: $inner-width; /* 2 */
    height:$inner-width; /* 2 */
    margin-top: (-$inner-width / 2); /* 2 */
    margin-left: ($outer-width - 2 * $inner-width) / 2 + 2; /* 2 */
    text-align: center; /* 3 */
    line-height: $inner-width; /* 3 */
  }
}


/**
 * Three lines and a triangle on the left.
 * Eg. Bahamas, Jordan, Sudan, Palestine
 **/
@mixin rows-3-with-triangle-left($row-color1, $row-color2, $row-color3, $triangle-color, $triangle-width) {
  // @include stripes-vertical-three($color1, $color2, $color3) {
}


