






/* FLAGS */



// Albania
.flag-alb {
  @include incomplete();
  background:#E41E20;
}
// Algeria
/**
 * Two large borders to make the two columns. And an UTF-8 symbol vertically
 * and horizontally centered
 **/
.flag-dza {
  border-left:($width / 2) solid #006233;
  border-right:($width /2) solid white;
  &:before {
    content: "☪";
    color: #D21034;
    position: absolute;
    display: block;
    top: 0px;
    left: -($width / 2);
    width:$width;
    height: $height;
    line-height: $height;
    text-align: center;
    font-size: 7em;
  }
}
// American Samoa
.flag-asm {
  @include incomplete();
  background:#000066;
  &:before {
    @include triangle-right($width, $height, #BD1021);
  }
  &:after {
    @include triangle-right($width * 0.9, $height * 0.9, white);
    top:$height * 0.05;
  }
}
// Andorra
.flag-and {
  @include incomplete();
  @include three-columns(#0018A8, #FEDF00, #D0103A);
}
// Angola
.flag-ago {
  @include incomplete();
  @include rows-2(#CE1126, black);
}
// Anguilla
.flag-aia {
}
// Antigua and Barbuda
.flag-atg {
}
// Argentina
.flag-arg {
  @include incomplete();
  @include rows-3(#74ACDF, white, #74ACDF);
}
// Armenia
.flag-arm {
  @include rows-3(#D90012, #0033A0, #F2A800);
}
// Aruba
.flag-abw {
}
// Australia
.flag-aus {
}
// Austria
.flag-aut {
  @include rows-3(#ED2939, white, #ED2939);
}
// Azerbaijan
.flag-aze {
}
// Bahamas
.flag-bhs {
  @include rows-3(#00ABC9, #FAE042, #00ABC9);
  &:before {
    @include triangle-left($w3, $height, black);
  }
}
// Bahrain
.flag-bhr {
}
// Bangladesh
.flag-bgd {
  background:#01796F;
  &:before {
    @include circle($width/2.5, #E11837);
    left:45%;
  }
}
// Barbados
.flag-brb {
}
// Belarus
.flag-blr {
}
// Belize
.flag-blz {
}
// Benin
.flag-ben {
}
// Bermuda
.flag-bmu {
}
// Bhutan
.flag-btn {
}
// Bolivia, Plurinational State of
.flag-bol {
  @include rows-3(#D52B1E, #FFE000, #007934);
}
// Bonaire, Sint Eustatius and Saba
.flag-bes {
}
// Bosnia and Herzegovina
.flag-bih {
}
// Botswana
.flag-bwa {
}
// Bouvet Island
.flag-bvt {
}
// Brazil
.flag-bra {
}
// British Indian Ocean Territory
.flag-iot {
}
// Brunei Darussalam
.flag-brn {
}
// Bulgaria
.flag-bgr {
  @include rows-3(white, #00966E, #D62612);
}
// Burkina Faso
.flag-bfa {
}
// Burundi
.flag-bdi {
}
// Cambodia
.flag-khm {
}
// Canada
.flag-can {
}
// Cape Verde
.flag-cpv {
}
// Cayman Islands
.flag-cym {
}
// Central African Republic
.flag-caf {
}
// Chile
.flag-chl {
  box-shadow:inset 0px $h2 0px white,
             inset 0px (2 * $h2) 0px #D52B1E;
  &:before {
    @include top-left-symbol("★", $h2, #0039A6, white);
  }
}
// China
.flag-chn {
}
// Christmas Island
.flag-cxr {
}
// Cocos (Keeling) Islands
.flag-cck {
}
// Colombia
.flag-col {
}
/**
 * Comoros
 *
 * The Comoros flag is made of three elements. The div itself for the 4 colored
 * lines, :before for the green triangle and :after for the crescent and stars.
 *
 * See below for detail of each element.
 **/
// Comoros
.flag-com {
  // The 4 lines are simply made of 4 inset drop-shadows.
  box-shadow:inset 0px $h4 0px #FFC61E,
             inset 0px (2 * $h4) 0px white,
             inset 0px (3 * $h4) 0px #CE1126,
             inset 0px (4 * $h4) 0px #3A75C4;
  /**
   * The green triangle is absolutly positioned and shaped using transparent
   * borders.
   *
   * 1. Position on the left
   * 2. Create triangle with borders
   **/
  &:before {
    content:""; /* 1 */
    position:absolute; /* 1 */
    top:0; /* 1 */
    left:0; /* 1 */
    display:block; /* 1 */
    border-left:($width / 2) solid #3D8E33; /* 2 */
    border-top:($height / 2) solid transparent; /* 2 */
    border-bottom:($height / 2) solid transparent; /* 2 */
  }
  /**
   * The crescent and stars is a little more tricky. The crescent itself is
   * simply a green rounded block with a white box-shadow. The stars are UTF-8
   * stars with a repeating text-shadow.
   *
   * 1. Position element
   * 2. Stars positionned in crescent and repeated through text-shadow
   * 3. Create crescent by doing an eclipse with the circle box-shadow
   */
  &:after {
    position: absolute;
    display: block;
    width: ($height / 2.5); /* 1 */
    height: ($height / 2.5); /* 1 */
    top: 50%; /* 1 */
    margin-top:-($height / 5); /* 1 */
    left: ($width / 10);/* 1 */

    content: "★"; /* 2 */
    color: white; /* 2 */
    text-align:center; /* 2 */
    text-indent: -10px; /* 2 */
    text-shadow:0px 15px 0px white, 0px 30px 0px white, 0px 45px 0px white; /* 2 */
    line-height:18px; /* 2 */

    background: #3D8E33; /* 3 */
    border-radius: 100%; /* 3 */
    box-shadow: -11px 0px 0px white; /* 3 */
  }
}
// Congo
.flag-cog {
  @include flag-cog()
}
// Congo, the Democratic Republic of the
.flag-cod {
}
// Cook Islands
.flag-cok {
}
// Costa Rica
.flag-cri {
}
// Croatia
.flag-hrv {
}
// Cuba
.flag-cub {
  box-shadow:inset 0px $h5 0px #002A8F,
             inset 0px (2 * $h5) 0px white,
             inset 0px (3 * $h5) 0px #002A8F,
             inset 0px (4 * $h5) 0px white,
             inset 0px (5 * $h5) 0px #002A8F;
  &:before {
    @include triangle-left($w2, $height, #CF142B);
  }
  &:after {
    @include symbol-left("★", white, $w3);
    font-size:3em;
  }
}
// Curaçao
.flag-cuw {
}
// Cyprus
.flag-cyp {
}
// Czech Republic
.flag-cze {
  @include rows-2(white, #D7141A);
  &:before {
    @include triangle-left($w2, $height, #11457E);
  }
}
// Djibouti
.flag-dji {
  @include rows-2(#6AB2E7, #12AD2B);
  &:before {
    @include triangle-left($w2, $height, white);
  }
  &:after {
    @include symbol-left("★", #D7141A, $w3);
    font-size:3em;
  }
}
// Dominica
.flag-dma {
}
// Dominican Republic
.flag-dom {
}
// Ecuador
.flag-ecu {
}
// Egypt
.flag-egy {
}
// El Salvador
.flag-slv {
  @include incomplete();
  @include rows-3(#0F47AF, white, #0F47AF);
}
// Equatorial Guinea
.flag-gnq {
  @include rows-3(#3E9A00, white, #E32118);
  &:before {
    @include triangle-left($w4, $height, #0073CE);
  }
}
// Eritrea
.flag-eri {
  @include incomplete();
  @include rows-2(#12AD2B, #4189DD);
  &:before {
    @include triangle-left($width, $height, #EA0437);
  }
}
// Estonia
.flag-est {
  @include rows-3(#4891D9, black, white);
}
// Ethiopia
.flag-eth {
}
// Falkland Islands (Malvinas)
.flag-flk {
}
// Fiji
.flag-fji {
}
// French Guiana
.flag-guf {
}
// French Polynesia
.flag-pyf {
}
// French Southern Territories
.flag-atf {
}
// Gabon
.flag-gab {
  @include rows-3(#009E60, #FCD116, #3A75C4);
}
// Gambia
.flag-gmb {
}
// Georgia
.flag-geo {
}
// Germany
.flag-deu {
  @include rows-3(black, #DD0000, #FFCE00);
}
// Ghana
.flag-gha {
  @include rows-3(#CE1126, #FCD116, #006B3F);
  &:before {
    @include centered-symbol("★", black)
  }
}
// Gibraltar
.flag-gib {
}
// Greece
.flag-grc {
}
// Greenland
.flag-grl {
  @include rows-2(white, #D00C33);
  &:before {
    @include circle(2 * $h3, blue);
    left:38%;
    border-top:$h3 solid #D00C33;
    border-bottom:$h3 solid white;
    height:0;
  }
}
// Grenada
.flag-grd {
}
// Guadeloupe
.flag-glp {
}
// Guam
.flag-gum {
}
// Guatemala
.flag-gtm {
}
// Guernsey
.flag-ggy {
}
// Guinea-Bissau
.flag-gnb {
}
// Guyana
.flag-guy {
}
// Haiti
.flag-hti {
}
// Heard Island and McDonald Islands
.flag-hmd {
}
// Holy See (Vatican City State)
.flag-vat {
}
// Honduras
.flag-hnd {
  @include rows-3(#0073CF, white, #0073CF);
  &:before {
    @include centered-symbol("★", #0073CF);
    font-size:1.5em;
    text-shadow:-1.5em -0.5em 0px #0073CF,
                -1.5em 0.5em 0px #0073CF,
                1.5em 0.5em 0px #0073CF,
                1.5em -0.5em 0px #0073CF;

  }
}
// Hong Kong
.flag-hkg {
}
// Hungary
.flag-hun {
  @include rows-3(#CD2A3E, white, #436F4D);
}
// India
.flag-ind {
}
// Indonesia
.flag-idn {
  @include rows-2(#CE1126, white);
}
// Iran, Islamic Republic of
.flag-irn {
}
// Iraq
.flag-irq {
}
// Isle of Man
.flag-imn {
}
// Israel
.flag-isr {
}
// Jamaica
.flag-jam {
  @include saltire(#FED100, #009B3A, black, #009B3A, black);
}
// Japan
.flag-jpn {
  background:white;
  &:before {
   @include circle($height * 3 / 5, #BC002D);
  }
}
// Jersey
.flag-jey {
}
// Jordan
.flag-jor {
  @include rows-3(black, white, #007A3D);
  &:before {
    @include triangle-left($w2, $height, #CE1126);
  }
  &:after {
    @include symbol-left("★", white, $w3);
    font-size:3em;
  }
}
// Kazakhstan
.flag-kaz {
}
// Kenya
.flag-ken {
}
// Kiribati
.flag-kir {
}
// Korea (North)
.flag-prk {
  background-color:#ED1C27;
  background-image:h-stripe(#024FA2, 12 * $h72, 0px),
                   h-stripe(white, 2 * $h72, 12 * $h72),
                   h-stripe(white, 2 * $h72, 58 * $h72),
                   h-stripe(#024FA2, 12 * $h72, 60 * $h72);
  &:before {
    @include circle(32 * $h72, white);
    left:33%;
    content:"★";
    color:#ED1C27;
    text-align:center;
    line-height:28 * $h72;
    font-size:5em;
  }

}
// Korea, Republic of
.flag-kor {
}
// Kuwait
.flag-kwt {
}
// Kyrgyzstan
.flag-kgz {
}
// Laos
.flag-lao {
  box-shadow:inset 0px $h4 0px #CE1126,
             inset 0px (3 * $h4) 0px #002868,
             inset 0px (4 * $h4) 0px #CE1126;
  &:before {
    @include circle($h4 * 1.6, white);
  }

}
// Latvia
.flag-lva {
}
// Lebanon
.flag-lbn {
}
// Lesotho
.flag-lso {
}
// Liberia
.flag-lbr {
  box-shadow:inset 0px $h11 0px #BF0A30,
             inset 0px (2 * $h11) 0px white,
             inset 0px (3 * $h11) 0px #BF0A30,
             inset 0px (4 * $h11) 0px white,
             inset 0px (5 * $h11) 0px #BF0A30,
             inset 0px (6 * $h11) 0px white,
             inset 0px (7 * $h11) 0px #BF0A30,
             inset 0px (8 * $h11) 0px white,
             inset 0px (9 * $h11) 0px #BF0A30,
             inset 0px (10 * $h11) 0px white,
             inset 0px (11 * $h11) 0px #BF0A30;
  &:before {
    @include top-left-symbol("★", ($h11 * 5), #002868, white);
  }
}
// Libya
.flag-lby {
}
// Liechtenstein
.flag-lie {
}
// Lithuania
.flag-ltu {
  @include rows-3(#FDB913, #006A44, #C1272D);
}
// Luxembourg
.flag-lux {
  @include rows-3(#ED2939, white, #00A1DE);
}
// Macao
.flag-mac {
}
// Macedonia, the former Yugoslav Republic of
.flag-mkd {
}
// Madagascar
.flag-mdg {
}
// Malawi
.flag-mwi {
}
// Malaysia
.flag-mys {
}
// Maldives
.flag-mdv {
}
// Malta
.flag-mlt {
}
// Marshall Islands
.flag-mhl {
}
// Martinique
.flag-mtq {
}
// Mauritania
.flag-mrt {
  background:#006233;
  &:before {
    @include centered-symbol("☪", #FFC400);
    transform:rotate(-90deg);
    font-size:8em;
  }
}
// Mauritius
.flag-mus {
}
// Mayotte
.flag-myt {
}
// Micronesia, Federated States of
.flag-fsm {
}
// Monaco
.flag-mco {
  @include rows-2(#CE1126, white);
}
// Mongolia
.flag-mng {
}
// Montenegro
.flag-mne {
}
// Montserrat
.flag-msr {
}
// Morocco
.flag-mar {
  background:#C1272D;
  &:after {
    @include centered-symbol("\e800", #006233); //TODO: Should be \26E4
    font-family: Symbols;
    font-weight:bold;
  }
}
// Mozambique
.flag-moz {
}
// Myanmar
.flag-mmr {
  @include rows-3(#FECB00, #34B233, #EA2839);
  &:before {
    @include centered-symbol("★", white);
    font-size:9em;
  }
}
// Namibia
.flag-nam {
}
// Nauru
.flag-nru {
}
// Nepal
.flag-npl {
}
// Netherlands
.flag-nld {
  @include rows-3(#AE1C28, white, #21468B);
}
// New Caledonia
.flag-ncl {
}
// New Zealand
.flag-nzl {
}
// Nicaragua
.flag-nic {
  @include incomplete();
  @include rows-3(#0067C6, white, #0067C6);
}
// Niger
.flag-ner {
  @include rows-3(#E05206, white, #0DB02B);
  &:before {
    @include circle($h3 * 0.8, #E05200);
  }
}
// Nigeria
.flag-nga {
}
// Niue
.flag-niu {
}
// Norfolk Island
.flag-nfk {
}
// Northern Mariana Islands
.flag-mnp {
}
// Norway
.flag-nor {
}
// Oman
.flag-omn {
}
// Pakistan
.flag-pak {
}
// Palau
.flag-plw {
  background:#4AADD6;
  &:before {
    @include circle($width/2.5, #FFDE00);
    left:45%;
  }
}
// Palestine, State of
.flag-pse {
  @include rows-3(black, white, #007A3D);
  &:before {
    @include triangle-left($w3, $height, #CE1126);
  }
}
// Panama
.flag-pan {
}
// Papua New Guinea
.flag-png {
}
// Paraguay
.flag-pry {
  @include incomplete();
  @include rows-3(#D52B1E, white, #0038A8);
}
// Peru
.flag-per {
}
// Philippines
.flag-phl {
  @include incomplete();
  @include rows-2(#0038A8, #CE1126);
  &:before {
    @include triangle-left($w3, $height, white);
  }
}
// Pitcairn
.flag-pcn {
}
// Poland
.flag-pol {
  @include rows-2(white, #DC143C);
}
// Portugal
.flag-prt {
}
// Puerto Rico
.flag-pri {
}
// Qatar
.flag-qat {
}
// Réunion
.flag-reu {
}
// Russian Federation
.flag-rus {
  @include rows-3(white, #0039A6, #D52B1E);
}
// Rwanda
.flag-rwa {
}
// Saint Barthélemy
.flag-blm {
}
// Saint Helena, Ascension and Tristan da Cunha
.flag-shn {
}
// Saint Kitts and Nevis
.flag-kna {
}
// Saint Lucia
.flag-lca {
}
// Saint Martin (French part)
.flag-maf {
}
// Saint Pierre and Miquelon
.flag-spm {
}
// Saint Vincent and the Grenadines
.flag-vct {
}
// Samoa
.flag-wsm {
}
// San Marino
.flag-smr {
}
// Sao Tome and Principe
.flag-stp {
  @include rows-3(#12AD2B, #FFCE00, #12AD2B);
  &:before {
    @include triangle-left($w4, $height, #D21034);
  }
  &:after {
    @include centered-symbol("★", black);
    font-size:3em;
    text-indent:-($width/8);
    text-shadow:($width/4) 0px 0px black;
  }
}
// Saudi Arabia
.flag-sau {
}
// Senegal
.flag-sen {
  @include three-columns(#00853F, #FDEF42, #E31B23);
  &:before {
    @include centered-symbol("★", #00853F)
  }
}
// Serbia
.flag-srb {
}
// Seychelles
.flag-syc {
}
// Sierra Leone
.flag-sle {
  @include rows-3(#1EB53A, white, #0072C6);
}
// Singapore
.flag-sgp {
}
// Sint Maarten (Dutch part)
.flag-sxm {
}
// Slovakia
.flag-svk {
}
// Slovenia
.flag-svn {
}
// Solomon Islands
.flag-slb {
}
// Somalia
.flag-som {
  background:#4189DD;
  &:before {
    @include centered-symbol("★", white);
  }
}
// South Africa
.flag-zaf {
}
// South Georgia and the South Sandwich Islands
.flag-sgs {
}
// South Sudan
.flag-ssd {
}
// Spain
.flag-esp {
}
// Sri Lanka
.flag-lka {
}
// Sudan
.flag-sdn {
  @include rows-3(#D21034, white, black);
  &:before {
    @include triangle-left($w4, $height, #007229);
  }
}
// Suriname
.flag-sur {
}
// Svalbard and Jan Mayen
.flag-sjm {
}
// Swaziland
.flag-swz {
}
// Switzerland
.flag-che {
}
// Syrian Arab Republic
.flag-syr {
}
// Taiwan, Province of China
.flag-twn {
}
// Tajikistan
.flag-tjk {
}
// Tanzania, United Republic of
.flag-tza {
}
// Thailand
.flag-tha {
}
// Timor-Leste
.flag-tls {
}
// Togo
.flag-tgo {
  box-shadow:inset 0px $h5 0px #006A4E,
             inset 0px (2 * $h5) 0px #FFCE00,
             inset 0px (3 * $h5) 0px #006A4E,
             inset 0px (4 * $h5) 0px #FFCE00,
             inset 0px (5 * $h5) 0px #006A4E;
  &:before {
    @include top-left-symbol("★", ($h5 * 3), #D21034, white);
    font-size:4em;
  }
}
// Tokelau
.flag-tkl {
}
// Tonga
.flag-ton {
}
// Trinidad and Tobago
.flag-tto {
  @include flag-tto();
}
/**
 * Tunisia
 * Displaying a Crescent and Star in the middle, but adding white circle behind
 * it by using the :before element
 **/
.flag-tun {
  background:#E70013;
  &:after {
    @include centered-symbol("☪", #E70013);
  }
  &:before {
    @include circle($height/2.5, white);
  }
}
/**
 * Turkey
 * Making a crescent by making an eclipse of two circles, and slightly
 * translating and rotation the star
 **/
.flag-tur {
  background:#E30A17;
  @include crescent(80px, 65px, white, #E30A17);
  &:before {
    transform: translateX(-(4 * $unit));
  }
  &:after {
    content: "★";
    color:white;
    font-size: 3em;
    text-indent: 50px;
    transform:translateX(-(4 * $unit)) rotate(-10deg);
  }
}
// Turkmenistan
.flag-tkm {
}
// Turks and Caicos Islands
.flag-tca {
}
// Tuvalu
.flag-tuv {
}
// Uganda
.flag-uga {
  @include incomplete();
  box-shadow:inset 0px $h6 0px black,
             inset 0px (2 * $h6) 0px #FCDC04,
             inset 0px (3 * $h6) 0px #D90000,
             inset 0px (4 * $h6) 0px black,
             inset 0px (5 * $h6) 0px #FCDC04,
             inset 0px (6 * $h6) 0px #D90000;
  &:before {
    @include circle($h3, white);
  }
}
// Ukraine
.flag-ukr {
  @include rows-2(#005BBB, #FFD500);
}
// United Arab Emirates
.flag-are {
}
// United Kingdom
.flag-gbr {
  @include union-jack();
}
// United States
.flag-usa {
  box-shadow:inset 0px $h13 0px #B22234,
             inset 0px (2 * $h13) 0px white,
             inset 0px (3 * $h13) 0px #B22234,
             inset 0px (4 * $h13) 0px white,
             inset 0px (5 * $h13) 0px #B22234,
             inset 0px (6 * $h13) 0px white,
             inset 0px (7 * $h13) 0px #B22234,
             inset 0px (8 * $h13) 0px white,
             inset 0px (9 * $h13) 0px #B22234,
             inset 0px (10 * $h13) 0px white,
             inset 0px (11 * $h13) 0px #B22234,
             inset 0px (12 * $h13) 0px white,
             inset 0px (13 * $h13) 0px #B22234;
  &:before {
    @include american-union();

  }
}
// United States Minor Outlying Islands
.flag-umi {
}
// Uruguay
.flag-ury {
}
// Uzbekistan
.flag-uzb {
}
// Vanuatu
.flag-vut {
}
// Venezuela, Bolivarian Republic of
.flag-ven {
}
// Viet Nam
.flag-vnm {
  background:#E21C1C;
  &:before {
    @include centered-symbol("★", #FFFF00);
  }
}
// Virgin Islands, British
.flag-vgb {
}
// Virgin Islands, U.S.
.flag-vir {
}
// Wallis and Futuna
.flag-wlf {
}
// Western Sahara
.flag-esh {
}
// Yemen
.flag-yem {
  @include rows-3(#CE1126, white, black);
}
// Zambia
.flag-zmb {
}
// Zimbabwe
.flag-zwe {
}


