/* VARIABLES */
$unit: 10px;

// Base flag dimensions
$width:220px;
$height:160px;

// Syntactic sugar to get ratio
$h2: $height/2;
$h3: $height/3;
$h4: $height/4;
$h5: $height/5;
$h6: $height/6;
$h11: $height/11;
$h13: $height/13;

$w2: $width/2;
$w3: $width/3;
$w4: $width/4;
$w5: $width/5;
$w6: $width/6;
