// Angola
// http://www.crwflags.com/fotw/flags/ao.html
@mixin flag-ago() {
  @include ratio(2 / 3);
  $unit: $h100;
  $red: #CE1126;
  $black: #000;
  $symbol: $UTF8_COUNTRY_AGO;
  $yellow: #F9D616;
  $symbol-size: 54 * $unit;

  @include two-lines($red, $black);
  &:before {
    @include centered-symbol($symbol, $yellow, $symbol-size);
  }
};
