// Åland Islands
// http: //www.crwflags.com/fotw/flags/ax.html
@mixin flag-ala() {
  @include ratio(34 / 52);
  $unit: $width / 52;
  $blue: #0053A5;
  $yellow: #FFCE00;
  $red: #D21034;
  $cross-width: 10 * $unit;
  $inner-width: 4 * $unit;
  $cross-offset: 16 * $unit;

  @include nordic-cross-border(
    $blue,
    $yellow,
    $red,
    $cross-width,
    $inner-width,
    $cross-offset
  );
};

