// Åland Islands
// http: //www.crwflags.com/fotw/flags/ax.html

@mixin flag-ala() {
  @include ratio(34 / 52);
  $bg: #0053A5;
  $border-color: #FFCE00;
  $inner-color: #D21034;
  $cross-width: 10 * $w52;
  $inner-width: 4 * $w52;
  $cross-offset: 16 * $w52;

  @include nordic-cross-border(
    $bg,
    $border-color,
    $inner-color,
    $cross-width,
    $inner-width,
    $cross-offset
  );
};

