// Albania
// http://www.crwflags.com/fotw/flags/al.html
// http://www.vexilla-mundi.com/albania_flag.html
@mixin flag-alb() {
  @include ratio(5 / 7);
  $unit: $height / 30;
  $red: #da291c;
  $black: #000;
  $symbol: $UTF8_ALB;
  $symbol-height: 20 * $unit;
  $symbol-width: 18 * $unit;
  $symbol-left: 21 * $unit;
  $symbol-top: 15 * $unit;

  background-color: $red;
  &:before {
    @include symbol($symbol, $black, $symbol-height, $symbol-left, $symbol-top);
    width: $symbol-width;
  }

};
