// Armenia
// http://www.crwflags.com/fotw/flags/am.html
@mixin flag-arm() {
  @include ratio(1 / 2);
  $red: #D90012;
  $blue: #0033A0;
  $yellow: #F2A800;

  @include three-lines($red, $blue, $yellow);
};
