// Antigua and Barbuda
// http://www.crwflags.com/fotw/flags/ag.html
// http://www.vexilla-mundi.com/antigua_and_barbuda_flag.html
@mixin flag-atg() {
  @include ratio(2 / 3);
  $unit: $h92;
  $red: #c8102e;
  $blue: #005eb8;
  $yellow: #ffcd00;
  $white: #FFF;
  $black: #000;

  $black-height: 36 * $unit;
  $blue-height: 20 * $unit;
  $white-height: 36 * $unit;

  $star-symbol: $UTF8_COUNTRY_ATG;
  $star-size: 60 * $unit;
  $star-left: 69 * $unit;
  $star-top: 36 * $unit;

  background-color: $red;

  // Tricolor stripes as an overlay with a clip-path
  &:before {
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    background-image: lines(
                        $black, $black-height,
                        $blue, $blue-height,
                        $white, $white-height
                      );
    clip-path: polygon(0 0, 50% 100%, 100% 0);
  }

  // Sun as a font symbol
  &:after {
    @include symbol($star-symbol, $yellow, $star-size, $star-left, $star-top);
  }
};
