// Azerbaijan
// http://www.crwflags.com/fotw/flags/az.html
// http://www.vexilla-mundi.com/azerbaijan_flag.html
@mixin flag-aze() {
  @include ratio(1 / 2);
  $unit: $h120;
  $blue: #00B5E2;
  $red: #EF3340;
  $green: #509E2F;
  $white: #FFF;
  $circle-front-size: 30 * $unit;
  $circle-back-size: 36 * $unit;
  $circle-back-left: 114 * $unit;
  $circle-back-top: $h2;
  $star-symbol: $UTF8_HEAVY_EIGHT_POINTED_RECTILINEAR_BLACK_STAR;
  $star-size: 30 * $unit;
  $star-left: 134 * $unit;
  $star-top: $h2;

  background-image: 
                    centered-circle($red, $circle-front-size),
                    circle($white, $circle-back-size, $circle-back-left, $circle-back-top),
                    three-lines($blue, $red, $green);
  &:before {
    @include symbol($star-symbol, $white, $star-size, $star-left, $star-top);
  }
};
