// Belgium
// http://www.crwflags.com/fotw/flags/be.html
// https://en.wikipedia.org/wiki/Flag_of_Belgium
@mixin flag-bel() {
  @include ratio(13 / 15);
  $black: #000;
  $yellow: #FFE936;
  $red: #FF0F21;

  @include three-columns($black, $yellow, $red);
};
