// Burkina Faso
// http://www.crwflags.com/fotw/flags/bf.html
@mixin flag-bfa() {
  @include ratio(2 / 3);
  $unit: $h12;
  $red: #EF3340;
  $green: #009639;
  $yellow: #FFCD00;
  $star-size: 4 * $h12;

  @include two-lines($red, $green);
  &:before {
    @include centered-star($yellow, $star-size);
  }
};
