// Bangladesh
// http://www.crwflags.com/fotw/flags/bd.html
// https://en.wikipedia.org/wiki/Flag_of_Bangladesh
// http://www.vexilla-mundi.com/bangladesh_flag.html
@mixin flag-bgd() {
  @include ratio(3 / 5);
  $unit: $h12;
  $green: #01796F;
  $red: #E11837;
  $circle-size: 8 * $unit;
  $circle-offset-left: 9 * $unit;
  $circle-offset-top: $h2;
  
  background-color: $green;

  &:before {
    @include circle-pseudo($red, $circle-size, $circle-offset-left, $circle-offset-top);
  }
};
