// Bahrain
// http://www.crwflags.com/fotw/flags/bh.html
// http://www.vexilla-mundi.com/bahrain_flag.html
@mixin flag-bhr() {
  @include ratio(3 / 5);
  $unit: $h60;
  $red: #da291c;
  $white: #FFF;
  $triangle-height: 12 * $unit;
  $triangle-width: 15 * $unit;
  $white-stripe-width: 25 * $unit;

  background-color: $red;
  background-image: v-stripe($white, $white-stripe-width);
  &:before {
    @include vertical-stripe-of-triangles($white, 5, $triangle-width, $triangle-height, $white-stripe-width - 1px);
  }
};
