// Bahamas
// http://www.crwflags.com/fotw/flags/bs.html
@mixin flag-bhs() {
  @include ratio(1 / 2);
  $unit: $h6;
  $blue: #00a9ce;
  $yellow: #fdda24;
  $black: #000;
  $triangle-width: sqrt(27) * $unit;

  @include three-lines($blue, $yellow, $blue);
  &:before {
    @include triangle($black, $triangle-width);
  }
};
