// Botswana
// http://www.crwflags.com/fotw/flags/bw.html
// https://en.wikipedia.org/wiki/Flag_of_Botswana
@mixin flag-bwa() {
  @include ratio(2 / 3);
  $blue: #6CACE4;
  $white: #FFF;
  $black: #000;
  $blue-height: 9 * $h24;
  $white-height: $h24;
  $black-height: 4 * $h24;

  @include lines($blue, $blue-height,
                 $white, $white-height,
                 $black, $black-height,
                 $white, $white-height,
                 $blue, $blue-height);
};
