// Chile
// http://www.crwflags.com/fotw/flags/cl.html
// http://www.vexilla-mundi.com/chile_flag.html
@mixin flag-chl() {
  @include ratio(2 / 3);
  $unit: $h8;
  $white: #FFF;
  $red: #c8102e;
  $blue: #003087;
  $square-size: 4 * $unit;
  $star-size: 2 * $unit;
  $star-top: 2 * $unit;
  $star-left: 2 * $unit;


  background-image: two-lines($white, $red);
  &:before {
    @include square($blue, $square-size);
  }
  &:after {
    @include star($white, $star-size, $star-left, $star-top);
  }
};
