// China
// http://www.crwflags.com/fotw/flags/cn.html
@mixin flag-chn() {
  @include ratio(2 / 3);
  $unit: $h20;
  $red: #de2910;
  $yellow: #FDDA24;
  $star-size: 6 * $unit;
  $star-size-small: 2 * $unit;

  background-color: $red;
  &:before {
    content: '';
    display: block;
    position: relative;
    width: $width;
    height: $height;
    background: $yellow;
    clip-path: polygon(link_list(
      five-pointed-star($star-size, 5 * $unit, 5 * $unit),
      five-pointed-star($star-size-small, 10 * $unit, 2 * $unit, -120.96),
      five-pointed-star($star-size-small, 12 * $unit, 4 * $unit, -98.13),
      five-pointed-star($star-size-small, 12 * $unit, 7 * $unit, -74.055),
      five-pointed-star($star-size-small, 10 * $unit, 9 * $unit, -54.34)
    ));
  }
};