// Côte d'Ivoire
// http://www.crwflags.com/fotw/flags/ci.html
// https://en.wikipedia.org/wiki/Flag_of_Ivory_Coast
@mixin flag-civ() {
  @include ratio(2 / 3);
  $orange: #F77F00;
  $white: #FFF;
  $green: #009E60;

  @include three-columns($orange, $white, $green);
};
