// Cameroon
// http://www.crwflags.com/fotw/flags/cm.html
// http://en.wikipedia.org/wiki/Flag_of_Cameroon
// Note: There is no official information on the size of the star
@mixin flag-cmr() {
  @include ratio(2 / 3);
  $green: #007A5E;
  $red: #CE1126;
  $yellow: #FCD116;

  @include three-columns($green, $red, $yellow);
  &:before {
    @include centered-star($yellow);
  }
};
