// Colombia
// http://www.crwflags.com/fotw/flags/co.html
// https://en.wikipedia.org/wiki/Flag_of_Colombia
@mixin flag-col() {
  @include ratio(2 / 3);
  $yellow: #FCD116;
  $blue: #003893;
  $red: #CE1126;

  @include lines($yellow, 50%, $blue, 25%, $red, 25%);
};
