// Comoros
// http://www.crwflags.com/fotw/flags/km.html
// https://en.wikipedia.org/wiki/Flag_of_the_Comoros
@mixin flag-com() {
  @include ratio(3 / 5);
  $unit: $h120;
  $yellow: #FFC61E;
  $white: #FFF;
  $red: #CE1126;
  $blue: #3A75C4;
  $line-height: 30 * $unit;
  $green: #3D8E33;
  $triangle-width: 100 * $unit;
  $crescent-front-size: 54 * $unit;
  $crescent-front-left: 46 * $unit;
  $crescent-front-top: 60 * $unit;
  $crescent-back-size: 54 * $unit;
  $crescent-back-left: 34 * $unit;
  $crescent-back-top: 60 * $unit;
  $star-symbol: $UTF8_BLACK_STAR;
  $star-size: 8 * $unit;
  $star-left: 36 * $unit;
  $star-top: 36 * $unit;
  $star-spacing: 12 * $unit;

  @include lines(
                  $yellow, 25%,
                  $white, 25%,
                  $red, 25%,
                  $blue, 25%
                );
  // Triangle
  &:before {
    @include triangle($green, $triangle-width);
  }
  // Star and crescent
  &:after {
    display: block;
    height: $height;
    position: absolute;
    width: $triangle-width;
    // Stars
    color: $white;
    content: $star-symbol;
    font-family: Symbols;
    font-size: $star-size;
    padding-left: $star-left;
    padding-top: $star-top;
    text-shadow: 
                0px $star-spacing 0px $white,
                0px (2 * $star-spacing) 0px $white,
                0px (3 * $star-spacing) 0px $white;
    // Crescent
    background-image: 
                  circle($green, $crescent-front-size, $crescent-front-left, $crescent-front-top),
                  circle($white, $crescent-back-size, $crescent-back-left, $crescent-back-top);
  }
};
