// Costa Rica
// http://www.crwflags.com/fotw/flags/cr.html
// https://en.wikipedia.org/wiki/Flag_of_Costa_Rica
//
// Note: This is the same as Thailand, but with red and blue reversed
@mixin flag-cri() {
  @include ratio(3/5);
  $blue: #002B7F;
  $white: #FFF;
  $red: #CE1126;
  $stripe-height: percentage(1/6);

  @include lines(
    $blue, $stripe-height,
    $white, $stripe-height,
    $red, 2 * $stripe-height,
    $white, $stripe-height,
    $blue, $stripe-height
  );
};
