// Germany
// http://www.crwflags.com/fotw/flags/de.html
// https://en.wikipedia.org/wiki/Flag_of_Germany
@mixin flag-deu() {
  @include ratio(3 / 5);
  $black: #000;
  $red: #FF0000;
  $yellow: #FFCC00;

  @include three-lines($black, $red, $yellow);
};
