// Denmark
// http://www.crwflags.com/fotw/flags/dk.html
$dnk-bg: #D81E05;
$dnk-cross: #FFF;
$dnk-cross-width: 4 * $w37;
$dnk-cross-offset: 12 * $w37;
@mixin flag-dnk() {
  @include ratio(28 / 37);
  @include nordic-cross($dnk-bg, $dnk-cross, $dnk-cross-width, $dnk-cross-offset);
};
