// Algeria
// http://www.crwflags.com/fotw/flags/dz.html
// http://www.vexilla-mundi.com/algeria_flag.html
@mixin flag-dza() {
  @include ratio(2 / 3);
  $unit: $h120;
  $green: #006233;
  $white: #FFF;
  $red: #d21034;
  $crescent-back-size: 60 * $unit;

  $crescent-front-size: 48 * $unit;
  $crescent-front-left-size: 17 * $unit;
  // We slightly make it bigger than on the construction sheet to really create
  // a crescent effect
  $crescent-front-right-size: 33 * $unit; 
  $crescent-front-top: 60 * $unit;
  $crescent-front-left: 97 * $unit;

  $star-size: 30 * $unit;
  $star-left: 103 * $unit;
  $star-top: 60 * $unit;

  background-image: 
                    centered-circle($red, $crescent-back-size),
                    two-columns($green, $white);
  
  // We're doing a bicolor circle using rounded borders, and putting it on top
  // of the red circle in background
  &:before {
    @include circle-pseudo(transparent, $crescent-front-size, $crescent-front-left, $crescent-front-top);
    border-top: none;
    border-bottom: none;
    border-left: $crescent-front-left-size solid $green;
    border-right: $crescent-front-right-size solid $white;
  }
  &:after {
    @include star($red, $star-size, $star-left, $star-top);
    transform: rotate(90deg);
  }
};
