// Eritrea
// http://www.crwflags.com/fotw/flags/er.html
// http://www.vexilla-mundi.com/eritrea_flag.html
@mixin flag-eri() {
  @include ratio(1 / 2);
  $unit: $h4;
  $red: #e4002b;
  $green: #43b02a;
  $blue: #418fde;
  $yellow: #ffc72c;

  $symbol-size: 2 * $unit;
  $symbol-left: 2 * $unit;
  $symbol-top: 2 * $unit;

  background-image: two-lines($green, $blue);
  // Triangle
  &:before {
    @include triangle($red, $width);
  }
  // Symbol
  &:after {
    @include symbol($UTF8_ERI, $yellow, $symbol-size, $symbol-left, $symbol-top);
  }

};
