// Estonia
// http://www.crwflags.com/fotw/flags/ee.html
// https://en.wikipedia.org/wiki/Flag_of_Estonia
@mixin flag-est() {
  @include ratio(7 / 11);
  $blue: #1291FF;
  $black: #000;
  $white: #FFF;

  @include three-lines($blue, $black, $white);
};
