// Finland
// http://www.crwflags.com/fotw/flags/fi.html
@mixin flag-fin() {
  @include ratio(11 / 18);
  $white: #FFF;
  $blue: #003580;
  $cross-width: 3 * $w18;
  $cross-offset: 5 * $w18;

  @include nordic-cross($white, $blue, $cross-width, $cross-offset);
};
