// France
// http://www.crwflags.com/fotw/flags/fr.html
// https://en.wikipedia.org/wiki/Flag_of_France
@mixin flag-fra() {
  @include ratio(2 / 3);
  $blue: #002395;
  $white: #FFF;
  $red: #ED2939;

  @include three-columns($blue, $white, $red);
};
