// Faroe Islands
// http://www.crwflags.com/fotw/flags/fo.html
@mixin flag-fro() {
  @include ratio(34 / 52);
  $white: #FFF;
  $blue: #0065BD;
  $red: #ED2939;
  $cross-width: 4 * $w22;
  $inner-width: 2 * $w22;
  $cross-offset: 6 * $w22;

  @include nordic-cross-border(
    $white,
    $blue,
    $red,
    $cross-width,
    $inner-width,
    $cross-offset
  );
};
