// Ghana
// http://www.crwflags.com/fotw/flags/gh.html
// https://en.wikipedia.org/wiki/Flag_of_Ghana
@mixin flag-gha() {
  @include ratio(2 / 3);
  $red: #CE1126;
  $yellow: #FCD116;
  $green: #006B3F;
  $black: #000;

  @include three-lines($red, $yellow, $green);
  &:before {
    @include centered-star($black);
  }
};
