// Guinea
// http://www.crwflags.com/fotw/flags/gn.html
// https://en.wikipedia.org/wiki/Flag_of_Guinea
@mixin flag-gin() {
  @include ratio(2 / 3);
  $red: #CE1126;
  $yellow: #FCD116;
  $green: #009460;

  @include three-columns($red, $yellow, $green);
};
