// Gambia
// http://www.crwflags.com/fotw/flags/gm.html
@mixin flag-gmb() {
  @include ratio(2 / 3);
  $red: #EF3340;
  $blue: #003DA5;
  $green: #009639;
  $white: #FFF;
  $top-height: 6 * $h18;
  $center-height: 4 * $h18;
  $bottom-height: 6 * $h18;
  $border-height: $h18;

  @include lines($red, $top-height,
                 $white, $border-height,
                 $blue, $center-height,
                 $white, $border-height,
                 $green, $bottom-height);
};
