// Honduras
// http://www.crwflags.com/fotw/flags/hn.html
// https://en.wikipedia.org/wiki/Flag_of_Honduras
// https://flagspot.net/flags/hn.html
@mixin flag-hnd() {
  @include ratio(1 / 2);
  $unit: $h36;
  $blue: #0073CF;
  $white: #FFF;;
  $star-size: 4 * $unit;
  $top-offset-top: 16 * $unit;
  $top-offset-left: 34 * $unit;

  @include three-lines($blue, $white, $blue);
  &:before {
    @include centered-star($blue, $star-size);
    text-shadow:(12 * $unit) (3 * $unit) 0px $blue,
                (12 * $unit) (-3 * $unit) 0px $blue,
                (-12 * $unit) (3 * $unit) 0px $blue,
                (-12 * $unit) (-3 * $unit) 0px $blue;
  }
};
