// Hungary
// http://www.crwflags.com/fotw/flags/hu.html
// https://en.wikipedia.org/wiki/Flag_of_Hungary
// https://upload.wikimedia.org/wikipedia/commons/c/c1/Flag_of_Hungary.svg
@mixin flag-hun() {
  @include ratio(1 / 2);
  $red: #c8102e;
  $white: #FFF;
  $green: #00843e;

  @include three-lines($red, $white, $green);
};
