// Ireland
// http://www.crwflags.com/fotw/flags/ie.html
// https://en.wikipedia.org/wiki/Flag_of_Ireland
@mixin flag-irl() {
  @include ratio(2 / 3);
  $left: #009B48;
  $center: #FFF;
  $right: #FF7900;

  @include three-columns($left, $center, $right);
};
