// Ireland
// http://www.crwflags.com/fotw/flags/ie.html
// https://en.wikipedia.org/wiki/Flag_of_Ireland
@mixin flag-irl() {
  @include ratio(2 / 3);
  $green: #009B48;
  $white: #FFF;
  $orange: #FF7900;

  @include three-columns($green, $white, $orange);
};
