// Iceland
// http://www.crwflags.com/fotw/flags/is.html
// http://commons.wikimedia.org/wiki/File:Flag_of_Iceland_(with_dimensions).svg

@mixin flag-isl() {
  @include ratio(18 / 25);
  $blue: #003897;
  $white: #FFF;
  $red: #D72828;
  $cross-width: 4 * $w25;
  $inner-width: 2 * $w25;
  $cross-offset: 7 * $w25;

  @include nordic-cross-border(
    $blue,
    $white,
    $red,
    $cross-width,
    $inner-width,
    $cross-offset
  );
};
