// Israel
// http://www.crwflags.com/fotw/flags/il.html
// http://www.vexilla-mundi.com/israel_flag.html
@mixin flag-isr() {
  @include ratio(8 / 11);
  $unit: $h32;
  $white: #FFF;
  $blue: #0038b8;
  $border-height: 3 * $unit;
  $blue-height: 5 * $unit;
  $center-height: 16 * $unit;
  $star-symbol: $UTF8_STAR_OF_DAVID;
  $star-size: 14 * $unit;

  @include lines($white, $border-height,
                 $blue, $blue-height,
                 $white, $center-height,
                 $blue, $blue-height,
                 $white, $border-height);
  &:before {
    @include centered-symbol($star-symbol, $blue, $star-size);
  }
};
