// Italy
// http://www.crwflags.com/fotw/flags/it.html
@mixin flag-ita() {
  @include ratio(2 / 3);
  $green: #009246;
  $white: #FFF;
  $red: #CE2B37;

  @include three-columns($green, $white, $red);
};
