// Jordan
// http://www.crwflags.com/fotw/flags/jo.html
// http://www.vexilla-mundi.com/jordan_flag.html
// http://www.crwflags.com/fotw/flags/jo'.html
@mixin flag-jor() {
  @include ratio(1 / 2);
  $unit: $h32;
  $top: #000;
  $center: #FFF;
  $bottom: #007a33;
  $triangle: #c8102e;
  $triangle-width: (sqrt($height * $height + $width * $width) / 2 ) * 1px;
  $star-symbol: $UTF8_HEAVY_EIGHT_POINTED_RECTILINEAR_BLACK_STAR;
  $star-color: $center;
  $star-size: 6 * $unit;
  $star-top: $h2;
  // Alpha is the red triangle angle, top left corner
  $alpha: atan($width / $height) * 1deg;
  $beta: $alpha / 2;
  $star-left: tan($beta) * $h2;

  @include three-lines($top, $center, $bottom);
  &:before {
    @include triangle($triangle, $triangle-width);
  }
  &:after {
    @include symbol($star-symbol, $star-color, $star-size, $star-left, $star-top);
  }
};
