// Japan
// http://www.crwflags.com/fotw/flags/jp.html
// http://www.vexilla-mundi.com/japan_flag.html
@mixin flag-jpn() {
  @include ratio(2 / 3);
  $unit: $h20;
  $white: #FFF;
  $red: #BC002D;
  $circle-size: 12 * $unit;
  
  background-color: $white;
  &:before {
    @include centered-circle-pseudo($red, $circle-size);
  }
};
