// Lao People's Democratic Republic
// http://www.crwflags.com/fotw/flags/la.html
// https://en.wikipedia.org/wiki/Flag_of_Laos
// http://www.vexilla-mundi.com/laos_flag.html
@mixin flag-lao() {
  @include ratio(2 / 3);
  $unit: $h20;
  $red: #CE1126;
  $blue: #002869;
  $white: #FFF;
  $circle-size: 8 * $unit;

  background-image: lines($red, 25%, $blue, 50%, $red, 25%); 
  &:before {
    @include centered-circle-pseudo($white, $circle-size);
  }
};
