// Lebanon
// http://www.crwflags.com/fotw/flags/lb.html
// http://www.vexilla-mundi.com/lebanon_flag.html
@mixin flag-lbn() {
  @include ratio(2 / 3);
  $unit: $height / 4;
  $red: #FD4238;
  $green: #009A3D;
  $white: #FFF;

  $symbol-size: 2 * $unit;

  @include lines($red, 25%,
                 $white, 50%,
                 $red, 25%);
  &:before {
    @include centered-symbol($UTF8_COUNTRY_LBN, $green, $symbol-size);
  }
};
