// Liberia
// http://www.crwflags.com/fotw/flags/lr.html
// http://www.vexilla-mundi.com/liberia_flag.html
@mixin flag-lbr() {
  @include ratio(10 / 19);
  $unit: $h110;
  $white: #FFF;
  $red: #d50032;
  $blue: #0c2340;
  $stripe-height: $height / 11;
  $square-size: $stripe-height * 5;
  $star-size: 30 * $unit;
  $star-top: 25 * $unit;
  $star-left: 25 * $unit;


  background-image: 
                    // Red and white stripes
                    lines($red, $stripe-height,
                          $white, $stripe-height,
                          $red, $stripe-height,
                          $white, $stripe-height,
                          $red, $stripe-height,
                          $white, $stripe-height,
                          $red, $stripe-height,
                          $white, $stripe-height,
                          $red, $stripe-height,
                          $white, $stripe-height,
                          $red, $stripe-height);
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: $blue;
    width: $square-size;
    height: $square-size;
  }
  &:after {
    @include star($white, $star-size, $star-left, $star-top);
  }
};
