// Libya
// http://www.crwflags.com/fotw/flags/ly.html
// https://en.wikipedia.org/wiki/Flag_of_Libya
// http://www.vexilla-mundi.com/libya_flag.html
@mixin flag-lby() {
  @include ratio(1 / 2);
  $unit: $width / 1440;
  $red: #EF0012;
  $black: #000;
  $green: #239E46;
  $white: #FFF;

  $crescent-front-size: 158 * $unit;
  $crescent-front-left: 750 * $unit;
  $crescent-back-size: $height / 4;
  $crescent-back-left: 720 * $unit;

  // Note: Size and position of star is completly manual, I did not do the math
  $star-size: $crescent-front-size * 3 / 4;
  $star-left: $w2 + $crescent-front-size / 2 + $star-size / 4;
  $star-top: $h2;

  background-image:
                    circle($black, $crescent-front-size, $crescent-front-left, 50%),
                    circle($white, $crescent-back-size, $crescent-back-left, 50%),
                    lines($red, 25%, $black, 50%, $green, 25%);
  &:after {
    @include star($white, $star-size, $star-left, $star-top);
    transform: rotate(-20deg);
  }
};
