// Lithuania
// http://www.crwflags.com/fotw/flags/lt.html
@mixin flag-ltu() {
  @include ratio(3 / 5);
  $yellow: #fdb913;
  $green: #006a44;
  $red: #c1272d;

  @include three-lines($yellow, $green, $red);
};
