// Luxembourg
// http://www.crwflags.com/fotw/flags/lu.html
// https://en.wikipedia.org/wiki/Flag_of_Luxembourg
//
// Note: I used the colors from the Wikipedia SVG
@mixin flag-lux() {
  @include ratio(1 / 2);
  $red: #ed2939;
  $white: #FFF;
  $blue: #00A1DE;

  @include three-lines($red, $white, $blue);
};
