.c-flag {
  margin: 0 auto;
  position: relative;
}
.c-flag:before, .c-flag:after {
  font-family: Symbols;
}
// Afghanistan
.c-flag__afg {
  @include flag-afg();
};
// Åland Islands
.c-flag__ala {
  @include flag-ala();
};
// Albania
.c-flag__alb {
  @include flag-alb();
};
// Algeria
.c-flag__dza {
  @include flag-dza();
};
// American Samoa
.c-flag__asm {
  @include flag-asm();
};
// Andorra
.c-flag__and {
  @include flag-and();
};
// Angola
.c-flag__ago {
  @include flag-ago();
};
// Anguilla
.c-flag__aia {
  @include flag-aia();
};
// Antarctica
.c-flag__ata {
  @include flag-ata();
};
// Antigua and Barbuda
.c-flag__atg {
  @include flag-atg();
};
// Argentina
.c-flag__arg {
  @include flag-arg();
};
// Armenia
.c-flag__arm {
  @include flag-arm();
};
// Aruba
.c-flag__abw {
  @include flag-abw();
};
// Australia
.c-flag__aus {
  @include flag-aus();
};
// Austria
.c-flag__aut {
  @include flag-aut();
};
// Azerbaijan
.c-flag__aze {
  @include flag-aze();
};
// Bahamas
.c-flag__bhs {
  @include flag-bhs();
};
// Bahrain
.c-flag__bhr {
  @include flag-bhr();
};
// Bangladesh
.c-flag__bgd {
  @include flag-bgd();
};
// Barbados
.c-flag__brb {
  @include flag-brb();
};
// Belarus
.c-flag__blr {
  @include flag-blr();
};
// Belgium
.c-flag__bel {
  @include flag-bel();
};
// Belize
.c-flag__blz {
  @include flag-blz();
};
// Benin
.c-flag__ben {
  @include flag-ben();
};
// Bermuda
.c-flag__bmu {
  @include flag-bmu();
};
// Bhutan
.c-flag__btn {
  @include flag-btn();
};
// Bolivia (Plurinational State of)
.c-flag__bol {
  @include flag-bol();
};
// Bonaire, Sint Eustatius and Saba
.c-flag__bes {
  @include flag-bes();
};
// Bosnia and Herzegovina
.c-flag__bih {
  @include flag-bih();
};
// Botswana
.c-flag__bwa {
  @include flag-bwa();
};
// Bouvet Island
.c-flag__bvt {
  @include flag-bvt();
};
// Brazil
.c-flag__bra {
  @include flag-bra();
};
// British Indian Ocean Territory
.c-flag__iot {
  @include flag-iot();
};
// Brunei Darussalam
.c-flag__brn {
  @include flag-brn();
};
// Bulgaria
.c-flag__bgr {
  @include flag-bgr();
};
// Burkina Faso
.c-flag__bfa {
  @include flag-bfa();
};
// Burundi
.c-flag__bdi {
  @include flag-bdi();
};
// Cambodia
.c-flag__khm {
  @include flag-khm();
};
// Cameroon
.c-flag__cmr {
  @include flag-cmr();
};
// Canada
.c-flag__can {
  @include flag-can();
};
// Cabo Verde
.c-flag__cpv {
  @include flag-cpv();
};
// Cayman Islands
.c-flag__cym {
  @include flag-cym();
};
// Central African Republic
.c-flag__caf {
  @include flag-caf();
};
// Chad
.c-flag__tcd {
  @include flag-tcd();
};
// Chile
.c-flag__chl {
  @include flag-chl();
};
// China
.c-flag__chn {
  @include flag-chn();
};
// Christmas Island
.c-flag__cxr {
  @include flag-cxr();
};
// Cocos (Keeling) Islands
.c-flag__cck {
  @include flag-cck();
};
// Colombia
.c-flag__col {
  @include flag-col();
};
// Comoros
.c-flag__com {
  @include flag-com();
};
// Congo
.c-flag__cog {
  @include flag-cog();
};
// Congo (Democratic Republic of the)
.c-flag__cod {
  @include flag-cod();
};
// Cook Islands
.c-flag__cok {
  @include flag-cok();
};
// Costa Rica
.c-flag__cri {
  @include flag-cri();
};
// Côte d'Ivoire
.c-flag__civ {
  @include flag-civ();
};
// Croatia
.c-flag__hrv {
  @include flag-hrv();
};
// Cuba
.c-flag__cub {
  @include flag-cub();
};
// Curaçao
.c-flag__cuw {
  @include flag-cuw();
};
// Cyprus
.c-flag__cyp {
  @include flag-cyp();
};
// Czech Republic
.c-flag__cze {
  @include flag-cze();
};
// Denmark
.c-flag__dnk {
  @include flag-dnk();
};
// Djibouti
.c-flag__dji {
  @include flag-dji();
};
// Dominica
.c-flag__dma {
  @include flag-dma();
};
// Dominican Republic
.c-flag__dom {
  @include flag-dom();
};
// Ecuador
.c-flag__ecu {
  @include flag-ecu();
};
// Egypt
.c-flag__egy {
  @include flag-egy();
};
// El Salvador
.c-flag__slv {
  @include flag-slv();
};
// Equatorial Guinea
.c-flag__gnq {
  @include flag-gnq();
};
// Eritrea
.c-flag__eri {
  @include flag-eri();
};
// Estonia
.c-flag__est {
  @include flag-est();
};
// Ethiopia
.c-flag__eth {
  @include flag-eth();
};
// Falkland Islands (Malvinas)
.c-flag__flk {
  @include flag-flk();
};
// Faroe Islands
.c-flag__fro {
  @include flag-fro();
};
// Fiji
.c-flag__fji {
  @include flag-fji();
};
// Finland
.c-flag__fin {
  @include flag-fin();
};
// France
.c-flag__fra {
  @include flag-fra();
};
// French Guiana
.c-flag__guf {
  @include flag-guf();
};
// French Polynesia
.c-flag__pyf {
  @include flag-pyf();
};
// French Southern Territories
.c-flag__atf {
  @include flag-atf();
};
// Gabon
.c-flag__gab {
  @include flag-gab();
};
// Gambia
.c-flag__gmb {
  @include flag-gmb();
};
// Georgia
.c-flag__geo {
  @include flag-geo();
};
// Germany
.c-flag__deu {
  @include flag-deu();
};
// Ghana
.c-flag__gha {
  @include flag-gha();
};
// Gibraltar
.c-flag__gib {
  @include flag-gib();
};
// Greece
.c-flag__grc {
  @include flag-grc();
};
// Greenland
.c-flag__grl {
  @include flag-grl();
};
// Grenada
.c-flag__grd {
  @include flag-grd();
};
// Guadeloupe
.c-flag__glp {
  @include flag-glp();
};
// Guam
.c-flag__gum {
  @include flag-gum();
};
// Guatemala
.c-flag__gtm {
  @include flag-gtm();
};
// Guernsey
.c-flag__ggy {
  @include flag-ggy();
};
// Guinea
.c-flag__gin {
  @include flag-gin();
};
// Guinea-Bissau
.c-flag__gnb {
  @include flag-gnb();
};
// Guyana
.c-flag__guy {
  @include flag-guy();
};
// Haiti
.c-flag__hti {
  @include flag-hti();
};
// Heard Island and McDonald Islands
.c-flag__hmd {
  @include flag-hmd();
};
// Holy See
.c-flag__vat {
  @include flag-vat();
};
// Honduras
.c-flag__hnd {
  @include flag-hnd();
};
// Hong Kong
.c-flag__hkg {
  @include flag-hkg();
};
// Hungary
.c-flag__hun {
  @include flag-hun();
};
// Iceland
.c-flag__isl {
  @include flag-isl();
};
// India
.c-flag__ind {
  @include flag-ind();
};
// Indonesia
.c-flag__idn {
  @include flag-idn();
};
// Iran (Islamic Republic of)
.c-flag__irn {
  @include flag-irn();
};
// Iraq
.c-flag__irq {
  @include flag-irq();
};
// Ireland
.c-flag__irl {
  @include flag-irl();
};
// Isle of Man
.c-flag__imn {
  @include flag-imn();
};
// Israel
.c-flag__isr {
  @include flag-isr();
};
// Italy
.c-flag__ita {
  @include flag-ita();
};
// Jamaica
.c-flag__jam {
  @include flag-jam();
};
// Japan
.c-flag__jpn {
  @include flag-jpn();
};
// Jersey
.c-flag__jey {
  @include flag-jey();
};
// Jordan
.c-flag__jor {
  @include flag-jor();
};
// Kazakhstan
.c-flag__kaz {
  @include flag-kaz();
};
// Kenya
.c-flag__ken {
  @include flag-ken();
};
// Kiribati
.c-flag__kir {
  @include flag-kir();
};
// Korea (Democratic People's Republic of)
.c-flag__prk {
  @include flag-prk();
};
// Korea (Republic of)
.c-flag__kor {
  @include flag-kor();
};
// Kuwait
.c-flag__kwt {
  @include flag-kwt();
};
// Kyrgyzstan
.c-flag__kgz {
  @include flag-kgz();
};
// Lao People's Democratic Republic
.c-flag__lao {
  @include flag-lao();
};
// Latvia
.c-flag__lva {
  @include flag-lva();
};
// Lebanon
.c-flag__lbn {
  @include flag-lbn();
};
// Lesotho
.c-flag__lso {
  @include flag-lso();
};
// Liberia
.c-flag__lbr {
  @include flag-lbr();
};
// Libya
.c-flag__lby {
  @include flag-lby();
};
// Liechtenstein
.c-flag__lie {
  @include flag-lie();
};
// Lithuania
.c-flag__ltu {
  @include flag-ltu();
};
// Luxembourg
.c-flag__lux {
  @include flag-lux();
};
// Macao
.c-flag__mac {
  @include flag-mac();
};
// Macedonia (the former Yugoslav Republic of)
.c-flag__mkd {
  @include flag-mkd();
};
// Madagascar
.c-flag__mdg {
  @include flag-mdg();
};
// Malawi
.c-flag__mwi {
  @include flag-mwi();
};
// Malaysia
.c-flag__mys {
  @include flag-mys();
};
// Maldives
.c-flag__mdv {
  @include flag-mdv();
};
// Mali
.c-flag__mli {
  @include flag-mli();
};
// Malta
.c-flag__mlt {
  @include flag-mlt();
};
// Marshall Islands
.c-flag__mhl {
  @include flag-mhl();
};
// Martinique
.c-flag__mtq {
  @include flag-mtq();
};
// Mauritania
.c-flag__mrt {
  @include flag-mrt();
};
// Mauritius
.c-flag__mus {
  @include flag-mus();
};
// Mayotte
.c-flag__myt {
  @include flag-myt();
};
// Mexico
.c-flag__mex {
  @include flag-mex();
};
// Micronesia (Federated States of)
.c-flag__fsm {
  @include flag-fsm();
};
// Moldova (Republic of)
.c-flag__mda {
  @include flag-mda();
};
// Monaco
.c-flag__mco {
  @include flag-mco();
};
// Mongolia
.c-flag__mng {
  @include flag-mng();
};
// Montenegro
.c-flag__mne {
  @include flag-mne();
};
// Montserrat
.c-flag__msr {
  @include flag-msr();
};
// Morocco
.c-flag__mar {
  @include flag-mar();
};
// Mozambique
.c-flag__moz {
  @include flag-moz();
};
// Myanmar
.c-flag__mmr {
  @include flag-mmr();
};
// Namibia
.c-flag__nam {
  @include flag-nam();
};
// Nauru
.c-flag__nru {
  @include flag-nru();
};
// Nepal
.c-flag__npl {
  @include flag-npl();
};
// Netherlands
.c-flag__nld {
  @include flag-nld();
};
// New Caledonia
.c-flag__ncl {
  @include flag-ncl();
};
// New Zealand
.c-flag__nzl {
  @include flag-nzl();
};
// Nicaragua
.c-flag__nic {
  @include flag-nic();
};
// Niger
.c-flag__ner {
  @include flag-ner();
};
// Nigeria
.c-flag__nga {
  @include flag-nga();
};
// Niue
.c-flag__niu {
  @include flag-niu();
};
// Norfolk Island
.c-flag__nfk {
  @include flag-nfk();
};
// Northern Mariana Islands
.c-flag__mnp {
  @include flag-mnp();
};
// Norway
.c-flag__nor {
  @include flag-nor();
};
// Oman
.c-flag__omn {
  @include flag-omn();
};
// Pakistan
.c-flag__pak {
  @include flag-pak();
};
// Palau
.c-flag__plw {
  @include flag-plw();
};
// Palestine, State of
.c-flag__pse {
  @include flag-pse();
};
// Panama
.c-flag__pan {
  @include flag-pan();
};
// Papua New Guinea
.c-flag__png {
  @include flag-png();
};
// Paraguay
.c-flag__pry {
  @include flag-pry();
};
// Peru
.c-flag__per {
  @include flag-per();
};
// Philippines
.c-flag__phl {
  @include flag-phl();
};
// Pitcairn
.c-flag__pcn {
  @include flag-pcn();
};
// Poland
.c-flag__pol {
  @include flag-pol();
};
// Portugal
.c-flag__prt {
  @include flag-prt();
};
// Puerto Rico
.c-flag__pri {
  @include flag-pri();
};
// Qatar
.c-flag__qat {
  @include flag-qat();
};
// Réunion
.c-flag__reu {
  @include flag-reu();
};
// Romania
.c-flag__rou {
  @include flag-rou();
};
// Russian Federation
.c-flag__rus {
  @include flag-rus();
};
// Rwanda
.c-flag__rwa {
  @include flag-rwa();
};
// Saint Barthélemy
.c-flag__blm {
  @include flag-blm();
};
// Saint Helena, Ascension and Tristan da Cunha
.c-flag__shn {
  @include flag-shn();
};
// Saint Kitts and Nevis
.c-flag__kna {
  @include flag-kna();
};
// Saint Lucia
.c-flag__lca {
  @include flag-lca();
};
// Saint Martin (French part)
.c-flag__maf {
  @include flag-maf();
};
// Saint Pierre and Miquelon
.c-flag__spm {
  @include flag-spm();
};
// Saint Vincent and the Grenadines
.c-flag__vct {
  @include flag-vct();
};
// Samoa
.c-flag__wsm {
  @include flag-wsm();
};
// San Marino
.c-flag__smr {
  @include flag-smr();
};
// Sao Tome and Principe
.c-flag__stp {
  @include flag-stp();
};
// Saudi Arabia
.c-flag__sau {
  @include flag-sau();
};
// Senegal
.c-flag__sen {
  @include flag-sen();
};
// Serbia
.c-flag__srb {
  @include flag-srb();
};
// Seychelles
.c-flag__syc {
  @include flag-syc();
};
// Sierra Leone
.c-flag__sle {
  @include flag-sle();
};
// Singapore
.c-flag__sgp {
  @include flag-sgp();
};
// Sint Maarten (Dutch part)
.c-flag__sxm {
  @include flag-sxm();
};
// Slovakia
.c-flag__svk {
  @include flag-svk();
};
// Slovenia
.c-flag__svn {
  @include flag-svn();
};
// Solomon Islands
.c-flag__slb {
  @include flag-slb();
};
// Somalia
.c-flag__som {
  @include flag-som();
};
// South Africa
.c-flag__zaf {
  @include flag-zaf();
};
// South Georgia and the South Sandwich Islands
.c-flag__sgs {
  @include flag-sgs();
};
// South Sudan
.c-flag__ssd {
  @include flag-ssd();
};
// Spain
.c-flag__esp {
  @include flag-esp();
};
// Sri Lanka
.c-flag__lka {
  @include flag-lka();
};
// Sudan
.c-flag__sdn {
  @include flag-sdn();
};
// Suriname
.c-flag__sur {
  @include flag-sur();
};
// Svalbard and Jan Mayen
.c-flag__sjm {
  @include flag-sjm();
};
// Swaziland
.c-flag__swz {
  @include flag-swz();
};
// Sweden
.c-flag__swe {
  @include flag-swe();
};
// Switzerland
.c-flag__che {
  @include flag-che();
};
// Syrian Arab Republic
.c-flag__syr {
  @include flag-syr();
};
// Taiwan, Province of China
.c-flag__twn {
  @include flag-twn();
};
// Tajikistan
.c-flag__tjk {
  @include flag-tjk();
};
// Tanzania, United Republic of
.c-flag__tza {
  @include flag-tza();
};
// Thailand
.c-flag__tha {
  @include flag-tha();
};
// Timor-Leste
.c-flag__tls {
  @include flag-tls();
};
// Togo
.c-flag__tgo {
  @include flag-tgo();
};
// Tokelau
.c-flag__tkl {
  @include flag-tkl();
};
// Tonga
.c-flag__ton {
  @include flag-ton();
};
// Trinidad and Tobago
.c-flag__tto {
  @include flag-tto();
};
// Tunisia
.c-flag__tun {
  @include flag-tun();
};
// Turkey
.c-flag__tur {
  @include flag-tur();
};
// Turkmenistan
.c-flag__tkm {
  @include flag-tkm();
};
// Turks and Caicos Islands
.c-flag__tca {
  @include flag-tca();
};
// Tuvalu
.c-flag__tuv {
  @include flag-tuv();
};
// Uganda
.c-flag__uga {
  @include flag-uga();
};
// Ukraine
.c-flag__ukr {
  @include flag-ukr();
};
// United Arab Emirates
.c-flag__are {
  @include flag-are();
};
// United Kingdom of Great Britain and Northern Ireland
.c-flag__gbr {
  @include flag-gbr();
};
// United States of America
.c-flag__usa {
  @include flag-usa();
};
// United States Minor Outlying Islands
.c-flag__umi {
  @include flag-umi();
};
// Uruguay
.c-flag__ury {
  @include flag-ury();
};
// Uzbekistan
.c-flag__uzb {
  @include flag-uzb();
};
// Vanuatu
.c-flag__vut {
  @include flag-vut();
};
// Venezuela (Bolivarian Republic of)
.c-flag__ven {
  @include flag-ven();
};
// Viet Nam
.c-flag__vnm {
  @include flag-vnm();
};
// Virgin Islands (British)
.c-flag__vgb {
  @include flag-vgb();
};
// Virgin Islands (U.S.)
.c-flag__vir {
  @include flag-vir();
};
// Wallis and Futuna
.c-flag__wlf {
  @include flag-wlf();
};
// Western Sahara
.c-flag__esh {
  @include flag-esh();
};
// Yemen
.c-flag__yem {
  @include flag-yem();
};
// Zambia
.c-flag__zmb {
  @include flag-zmb();
};
// Zimbabwe
.c-flag__zwe {
  @include flag-zwe();
};

