// Morocco
// http://www.crwflags.com/fotw/flags/ma.html
@mixin flag-mar() {
  @include ratio(2 / 3);
  $unit: $h12;
  $red: #C1272D;
  $green: #006233;
  $star-symbol: $UTF8_MAR;
  $star-size: 4 * $unit;

  background-color: $red;
  &:before {
    @include centered-symbol($star-symbol, $green, $star-size);
  }
};
