// Maldives
// http://www.crwflags.com/fotw/flags/mv.html
// https://en.wikipedia.org/wiki/Flag_of_the_Maldives
// http://www.vexilla-mundi.com/maldives_flag.html
@mixin flag-mdv() {
  @include ratio(2 / 3);
  $unit: $h48;
  $red: #bf0d3e;
  $green: #007367;
  $white: #FFF;
  $border-size: 12 * $unit;
  $crescent-front-size: 16 * $unit;
  $crescent-front-left: 42 * $unit;
  $crescent-front-top: 24 * $unit;
  $crescent-back-size: 16 * $unit;
  $crescent-back-left: 39 * $unit;
  $crescent-back-top: 24 * $unit;

  background-color: $green;
  background-image:
                    // Crescent
                    circle($green, $crescent-front-size, $crescent-front-left, $crescent-front-top),
                    circle($white, $crescent-back-size, $crescent-back-left, $crescent-back-top),
                    // Borders
                    h-stripe($red, $border-size, 0),
                    h-stripe($red, $border-size, 36 * $unit),
                    v-stripe($red, $border-size, 0),
                    v-stripe($red, $border-size, 60 * $unit);
};
