// Mali
// http://www.crwflags.com/fotw/flags/ml.html
// https://en.wikipedia.org/wiki/Flag_of_Mali
@mixin flag-mli() {
  @include ratio(2 / 3);
  $green: #14B53A;
  $yellow: #FCD116;
  $red: #CE1126;

  @include three-columns($green, $yellow, $red);
};
