// Myanmar
// http://www.crwflags.com/fotw/flags/mm.html
// http://www.vexilla-mundi.com/myanmar_flag.html
@mixin flag-mmr() {
  @include ratio(2 / 3);
  $unit: $h12;
  $yellow: #FECB00;
  $green: #34B233;
  $red: #EA2839;
  $white: #FFF;
  $star-size: 8 * $unit;


  @include three-lines($yellow, $green, $red);
  &:before {
    @include centered-star($white, $star-size);
  }
};
