// Malaysia
// http://www.crwflags.com/fotw/flags/my.html
// http://www.vexilla-mundi.com/malaysia_flag.html
@mixin flag-mys() {
  @include ratio(1 / 2);
  $unit: $h224;
  $white: #FFF;
  $red: #e03c31;
  $blue: #041e42;
  $yellow: #ffd100;
  $stripe-height: $height / 14;

  $canton-width: $width / 2;
  $canton-height: 8 * $stripe-height;
  $crescent-front-size: 84 * $unit;
  $crescent-front-left: 102 * $unit;
  $crescent-front-top: 64 * $unit;
  $crescent-back-size: 96 * $unit;
  $crescent-back-left: 92 * $unit;
  $crescent-back-top: 64 * $unit;
  $star-symbol: $UTF8_COUNTRY_MYS;
  $star-size: 80 * $unit;
  $star-left: 140 * $unit;
  $star-top: 64 * $unit;

  background-image: 
                    // Red and white stripes
                    lines($red, $stripe-height,
                          $white, $stripe-height,
                          $red, $stripe-height,
                          $white, $stripe-height,
                          $red, $stripe-height,
                          $white, $stripe-height,
                          $red, $stripe-height,
                          $white, $stripe-height,
                          $red, $stripe-height,
                          $white, $stripe-height,
                          $red, $stripe-height,
                          $white, $stripe-height,
                          $red, $stripe-height,
                          $white, $stripe-height,
                          $red, $stripe-height,
                          $white, $stripe-height,
                          $red, $stripe-height);
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: $canton-width;
    height: $canton-height;
    background-color: $blue;
    background-image:
                    circle($blue, $crescent-front-size, $crescent-front-left, $crescent-front-top),
                    circle($yellow, $crescent-back-size, $crescent-back-left, $crescent-back-top);
  }
  &:after {
    @include symbol($star-symbol, $yellow, $star-size, $star-left, $star-top);
  }
};
