// Korea (Democratic People's Republic of)
// http://www.crwflags.com/fotw/flags/kp.html
// http://www.vexilla-mundi.com/north_korea_flag.html
@mixin flag-prk() {
  @include ratio(1 / 2);
  $unit: $h144;
  $blue: #024FA2;
  $white: #FFF;
  $red: #ED1C27;
  $blue-height: 24 * $unit;
  $white-height: 4 * $unit;
  $red-height: 88 * $unit;
  $circle-size: 64 * $unit;
  $offset-left-circle: 94 * $unit;
  $offset-top-circle: 72 * $unit;
  $star-size: 62 * $unit;
  $offset-left-star: 94 * $unit;
  $offset-top-star: 70 * $unit;

  background-image: lines($blue, $blue-height,
                          $white, $white-height,
                          $red, $red-height,
                          $white, $white-height,
                          $blue, $blue-height);
  &:before {
    @include circle-pseudo($white, $circle-size, $offset-left-circle, $offset-top-circle);
  }
  &:after {
    @include star($red, $star-size, $offset-left-star, $offset-top-star);
  }
};
