// Qatar
// http://www.crwflags.com/fotw/flags/qa.html
// http://www.vexilla-mundi.com/qatar_flag.html
@mixin flag-qat() {
  @include ratio(11 / 28);
  $unit: $h198;
  $red: #8a1538;
  $white: #FFF;
  $triangle-height: 22 * $unit;
  $triangle-width: 36 * $unit;
  $white-stripe-width: 144 * $unit;

  background-color: $red;
  background-image:
                    v-stripe($white, $white-stripe-width)
                  ;
  &:before {
    @include vertical-stripe-of-triangles($white, 9, $triangle-width, $triangle-height, $white-stripe-width - 2px);
  }
};
