// Russian Federation
// http://www.crwflags.com/fotw/flags/ru.html
// https://en.wikipedia.org/wiki/Flag_of_Russia
// https://upload.wikimedia.org/wikipedia/commons/f/f3/Flag_of_Russia.svg
// http://www.vexilla-mundi.com/russia_flag.html
@mixin flag-rus() {
  @include ratio(2 / 3);
  $white: #FFF;
  $blue: #003da5;
  $red: #da291c;

  @include three-lines($white, $blue, $red);
};
