// Sudan
// http://www.crwflags.com/fotw/flags/sd.html
// http://www.vexilla-mundi.com/sudan_flag.html
@mixin flag-sdn() {
  @include ratio(1 / 2);
  $unit: $h6;
  $red: #C8102E;
  $white: #FFF;
  $black: #000;
  $green: #007a33;
  $triangle-width: 4 * $unit;

  @include three-lines($red, $white, $black);
  &:before {
    @include triangle($green, $triangle-width);
  }
};
