// Senegal
// http://www.crwflags.com/fotw/flags/sn.html
@mixin flag-sen() {
  @include ratio(2 / 3);
  $green: #00853F;
  $yellow: #FDEF42;
  $red: #E31B23;

  @include three-columns($green, $yellow, $red);
  &:before {
    @include centered-star($green);
  }
};
