// Somalia
// http://www.crwflags.com/fotw/flags/so.html
// https://commons.wikimedia.org/wiki/File:Flag_of_Somalia_(construction).jpg
@mixin flag-som() {
  @include ratio(2 / 3);
  $unit: $h12;
  $bg: #4189DD;
  $star: #FFF;
  $star-size: 4 * $unit;

  background-color: $bg;
  &:before {
    @include centered-star($star, $star-size);
  }
};
