// Sweden
// http://www.crwflags.com/fotw/flags/se.html
@mixin flag-swe() {
  @include ratio(10 / 16);
  $cross-offset: 5 * $w16;
  $blue: #006AA7;
  $yellow: #FECC00;
  $cross-width: 2 * $w16;

  @include nordic-cross($blue, $yellow, $cross-width, $cross-offset);
};
