// Togo
// http://www.crwflags.com/fotw/flags/tg.html
@mixin flag-tgo() {
  @include ratio(2 / 3);
  $unit: $h100;
  $white: #FFF;
  $green: #00b140;
  $yellow: #fdda24;
  $red: #c8102e;
  $stripe-height: 20%;
  $square-size: 60 * $unit;
  $star-size: 38 * $unit;
  $star-top: 30 * $unit;
  $star-left: 30 * $unit;


  @include lines($green, 20%,
                 $yellow, 20%,
                 $green, 20%,
                 $yellow, 20%,
                 $green, 20%);
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: $red;
    width: $square-size;
    height: $square-size;
  }
  &:after {
    @include star($white, $star-size, $star-left, $star-top);
  }
};
