// Thailand
// http://www.crwflags.com/fotw/flags/th.html
// http://www.vexilla-mundi.com/thailand_flag.html
// Note: This is the same as Costa Rica, but with red and blue reversed
@mixin flag-tha() {
  @include ratio(2 / 3);
  $blue: #012169;
  $white: #FFF;
  $red: #c8102e;
  $stripe-height: percentage(1/6);

  @include lines(
    $red, $stripe-height,
    $white, $stripe-height,
    $blue, 2 * $stripe-height,
    $white, $stripe-height,
    $red, $stripe-height
  );
};
