// Tunisia
// http://www.crwflags.com/fotw/flags/tn.html
// http://www.vexilla-mundi.com/tunisia_flag.html
// http://www.crwflags.com/fotw/flags/tn'.html
@mixin flag-tun() {
  @include ratio(2 / 3);
  $unit: $h80;
  $red: #C8102E;
  $white: #FFF;

  $circle-size: 40 * $unit;
  $crescent-front-size: 24 * $unit;
  $crescent-front-left: $circle-size / 2 + 4 * $unit;
  $crescent-back-size: 30 * $unit;

  $star-size: 18 * $unit;
  $star-left: $width / 2 + 4 * $unit;
  // Note: we add a slight bump to the top to accomodate the rotation
  $star-top: $height / 2 - $unit;
  
  background-color: $red;
  &:before {
    @include centered-circle-pseudo($white, $circle-size);
    background-image: 
                    circle($white, $crescent-front-size, $crescent-front-left, 50%),
                    circle($red, $crescent-back-size, 50%, 50%);
  }
  &:after {
    @include star($red, $star-size, $star-left, $star-top);
    transform: rotate(-20deg);
  }
};
