// Hide lesser countries
@mixin secondary() {
  opacity:.3;
  display:none;
  & + strong {
    display:none;
 }
}






// Union Jack
// http://commons.wikimedia.org/wiki/Commons:Pantone_color_chart/British_flag_colours
@mixin union-jack($height, $width) {
  $UJ_h30: $height/30;
  $UJ_h2: $height/2;
  $UJ_w2: $width/2;
  $alpha:toa($height, $width); // Bottom right angle
  $distance: sin($alpha) * $width; // Distance to diagonal
  background:
                   /* St George */
                   v-stripe($COLOR_UK_RED, 6 * $UJ_h30, 27 * $UJ_h30),
                   h-stripe($COLOR_UK_RED, 6 * $UJ_h30, 12 * $UJ_h30),
                   v-stripe(white, 10 * $UJ_h30, 25 * $UJ_h30),
                   h-stripe(white, 10 * $UJ_h30, 10 * $UJ_h30),
  
                   /* St Patrick */
                   stripe(#{$alpha}deg, $COLOR_UK_RED, 2 * $UJ_h30, $distance - 2 * $UJ_h30) 0px 0px/#{$UJ_w2} $UJ_w2 no-repeat, 
                   stripe(#{$alpha}deg, $COLOR_UK_RED, 2 * $UJ_h30, $distance) $UJ_w2 #{$UJ_h2}/#{$UJ_w2} $UJ_w2 no-repeat, 
                   stripe(#{180 - $alpha}deg, $COLOR_UK_RED, 2 * $UJ_h30, $distance) 0px 0px/#{$UJ_w2} $UJ_w2 no-repeat, 
                   stripe(#{180 - $alpha}deg, $COLOR_UK_RED, 2 * $UJ_h30, $distance - 2 * $UJ_h30) $UJ_w2 #{-$UJ_h2}/#{$UJ_w2} $UJ_w2 no-repeat, 

                   /* St Andrew */
                   stripe(#{$alpha}deg, white, 6 * $UJ_h30, $distance - 3 * $UJ_h30), 
                   stripe(#{180 - $alpha}deg, white, 6 * $UJ_h30, $distance - 3 * $UJ_h30),

                   /* Background color */
                   $COLOR_UK_BLUE;
}

// Union Jack in the canton
@mixin canton-union-jack($background:$COLOR_UK_BLUE) {
  background-color:$background;
  &:before {
    content:"";
    position:absolute;
    top:0;
    left:0;
    display:block;
    width:$w2;
    height:$h2;
    @include union-jack($h2, $w2);
  }
}


/**
 * Losange
 * We define the actual height and width we want, but we will draw a square
 * rotated 45deg.
 * 1. Actual width/height of the square
 * 2. We rotate the square to make it a losange
 * 3. We scale its height
 * 4. We translate it slightly to make its edges align with 0,0
 * 5. Setting font-size so box-shadow can easily be set with em
 **/
@mixin losange($height, $width, $color) {
  $side: sqrt($width * $width / 2) * 1px; /* 1 */
  $ratio: $height/$width; /* 3 */
  $offsetX: ($width - $side) / 2; /* 4 */
  $offsetY: ($height - $side) / 2; /* 4 */
  content:"";
  position:absolute;
  display:block;
  width:$side; /* 1 */
  height:$side; /* 1 */
  font-size:$side; /* 5 */
  background-color:$color;
  transform:
            translateX($offsetX)  /* 4 */
            translateY($offsetY)  /* 4 */
            scaleY($ratio) /* 3 */
            rotate(45deg); /* 2 */
}

// Circle
@mixin circle($width, $color) {
  display:block;
  width:$width;
  height:$width;
  border-radius:50%;
  background-color:$color;
}

// Position
@mixin position($top, $left) {
  content:"";
  position:absolute;
  top:$top;
  left:$left;
}

// 
// /**
//  * Star and crescent : ☪
//  * ★☆☨☬☭☽☾♢♦⚙⚜⚫⚪
//  **/
// 
// /**
//  * 2 horizontal stripes of equal height
//  * Eg. Czech, Djibouti, Philippines
//  *
//  * 1. Top line
//  * 2. Bottom line
//  **/
// @mixin rows-2($top, $bottom) {
//   box-shadow:inset 0px $h2 0px $top,
//              inset 0px $height 0px $bottom;
// }
// /**
//  * 3 horizontal stripes of equal height
//  * Eg. Netherlands, Germany, Luxembourg
//  *
//  * 1. Top line
//  * 2. Middle line
//  * 3. Bottom line
//  **/
// @mixin rows-3($top, $middle, $bottom) {
//   box-shadow:inset 0px $h3 0px $top,
//              inset 0px (2 * $h3) 0px $middle,
//              inset 0px (3 * $h3) 0px $bottom;
// }
// 
// 
// 
// 
// /**
//  * Saltire. Cross coming from the angle and separating the flag in 4 parts.
//  * eg. Jamaica.
//  *
//  * The :after and :before element are used to do the triangles by using the
//  * transparent border technique while the cross itself is only the div
//  * background color.
//  *
//  * Note: We use dotted borders instead of solid because the alias less.
//  *
//  * 1. Width of the cross, used as reference
//  * 2. Keep enough space in the center for 1 full cross width vertically
//  * 3. Keep enough space in the center for 2 full cross width horizontally
//  * 4. Background is the cross.
//  * 5. Top triangle
//  * 6. Right triangle
//  * 7. Bottom triangle
//  * 8. Left triangle
//  * 9. Move triangle slightly so the do not start in the angles
//  */
// @mixin saltire($cross-color, $top-color, $right-color, $bottom-color, $left-color) {
//   $saltire-width:20px; /* 1 */
//   $top-height:($height - $saltire-width) / 2; /* 2 */
//   $side-width:($width - 2 * $saltire-width) / 2; /* 3 */
//   background:$cross-color; /* 4 */
//   &:before, &:after {
//     content:"";
//     position:absolute;
//     display:block;
//   }
//   // Top and bottom
//   &:before {
//     top:0; /* 9 */
//     left:$saltire-width; /* 9 */
//     height: $saltire-width; /* 2 */
//     border-top:$top-height dotted $top-color; /* 5 */
//     border-bottom:$top-height dotted $bottom-color; /* 7 */
//     border-left: $side-width solid transparent;
//     border-right:$side-width solid transparent;
//   }
//   // Right and left
//   &:after {
//     top:($saltire-width / 2); /* 9 */
//     left:0px; /* 9 */
//     width:(2 * $saltire-width); /* 3 */
//     border-top:$top-height solid transparent;
//     border-bottom:$top-height solid transparent;
//     border-right:$side-width dotted $right-color; /* 6 */
//     border-left: $side-width dotted $left-color; /* 8 */
//   }
// }
// 
// 
// 
// /**
//  * Put a symbol on the left of the flag.
//  * Eg. Djibouti, Jordan
//  **/
// @mixin symbol-left($symbol, $color, $width) {
//   @include symbol($symbol, $color);
//   display:block;
//   top:0;
//   left:0;
//   height:$height;
//   line-height:$height;
//   width:$width;
//   text-align:center;
//   font-size:2em;
// }
// 
// 
// 
// /**
//  * Symbol in top left corner inside a square
//  * Note: Must be used on :before/:after element
//  * Eg. Chile, Liberia
//  **/
// @mixin top-left-symbol($symbol, $width, $background, $color) {
//   content:$symbol;
//   position:absolute;
//   top:0;
//   left:0;
//   width:$width;
//   height:$width;
//   line-height:$width;
//   text-align:center;
//   font-size:3em;
//   color:$color;
//   background:$background;
// }
// 
// /**
//  * Square
//  * Note: Must be used on a :before/:after
//  **/
// @mixin square($width, $color) {
//   content:"";
//   position:absolute;
//   display:block;
//   width:$width;
//   height:$width;
//   top:50%;
//   left:50%;
//   margin-top:-($width/2);
//   margin-left:-($width/2);
//   background-color:$color;
// }
// 
// /**
//  * Circle
//  * Note: Must be used on a :before/:after
//  **/
// @mixin circle($width, $color) {
//   @include square($width, $color);
//   border-radius:50%;
// }
// 
// /**
//  * Triangle left
//  * Note: Must be used on a :before/:after
//  **/
// @mixin triangle-left($width, $height, $color) {
//     content:"";
//     position:absolute;
//     top:0;
//     left:0;
//     display:block;
//     border-left:$width solid $color;
//     border-top:($height / 2) solid transparent;
//     border-bottom:($height / 2) solid transparent;
// }
// 
// /**
//  * Triangle right
//  * Note: Must be used on a :before/:after
//  **/
// @mixin triangle-right($width, $height, $color) {
//     content:"";
//     position:absolute;
//     top:0;
//     right:0;
//     display:block;
//     border-right:$width solid $color;
//     border-top:($height / 2) solid transparent;
//     border-bottom:($height / 2) solid transparent;
// }
// 
// 
// 
// /**
//  * Creating a crescent by overlapping two circles, like an eclipse.
//  * This will use both :before and :after and will center them by default
//  * Use transform: translateX() to move it around if you do not need it in the
//  * center.
//  *
//  * 1. Position :before vertically and horizontally centered
//  * 2. Position :after the same, but slightly more on the right
//  * 3. Center :after content, just in case
//  **/
// @mixin crescent($outer-width, $inner-width, $color, $background) {
//   &:before, &:after {
//     content:"";
//     display:block;
//     position:absolute;
//     top: 50%;
//     left: 50%;
//     border-radius:100%;
//   }
//   // Background circle, used as the crescent
//   &:before {
//     background:$color;
//     width:$outer-width; /* 1 */
//     height:$outer-width; /* 1 */
//     margin-top:(-$outer-width / 2); /* 1 */
//     margin-left:(-$outer-width / 2); /* 1 */
//   }
//   // Foregroup circle, used to to the eclipse
//   &:after {
//     background: $background;
//     width: $inner-width; /* 2 */
//     height:$inner-width; /* 2 */
//     margin-top: (-$inner-width / 2); /* 2 */
//     margin-left: ($outer-width - 2 * $inner-width) / 2 + 2; /* 2 */
//     text-align: center; /* 3 */
//     line-height: $inner-width; /* 3 */
//   }
// }
// 
// /**
//  * American canton, known as the "Union", the blue rectanble with 51 stars.
//  **/
// @mixin american-union() {
//   content:"★";
//   position:absolute;
//   top:0;
//   left:0;
//   display:block;
//   width:($width/2.5);
//   height:($h13*7);
//   background: #002868;
//   color:white;
//   font-size:0.6em;
//   text-indent:2px;
//   overflow:hidden;
// 
//   $line-padding:9px;
//   text-shadow:15px 0px 0px white,
//               30px 0px 0px white,
//               45px 0px 0px white,
//               60px 0px 0px white,
//               75px 0px 0px white,
// 
//               8px  ($line-padding) 0px white,
//               23px ($line-padding) 0px white,
//               38px ($line-padding) 0px white,
//               53px ($line-padding) 0px white,
//               68px ($line-padding) 0px white,
// 
//               0px  (2 * $line-padding) 0px white,
//               15px (2 * $line-padding) 0px white,
//               30px (2 * $line-padding) 0px white,
//               45px (2 * $line-padding) 0px white,
//               60px (2 * $line-padding) 0px white,
//               75px (2 * $line-padding) 0px white,
// 
//               8px  (3 * $line-padding) 0px white,
//               23px (3 * $line-padding) 0px white,
//               38px (3 * $line-padding) 0px white,
//               53px (3 * $line-padding) 0px white,
//               68px (3 * $line-padding) 0px white,
// 
//               0px  (4 * $line-padding) 0px white,
//               15px (4 * $line-padding) 0px white,
//               30px (4 * $line-padding) 0px white,
//               45px (4 * $line-padding) 0px white,
//               60px (4 * $line-padding) 0px white,
//               75px (4 * $line-padding) 0px white,
// 
//               8px  (5 * $line-padding) 0px white,
//               23px (5 * $line-padding) 0px white,
//               38px (5 * $line-padding) 0px white,
//               53px (5 * $line-padding) 0px white,
//               68px (5 * $line-padding) 0px white,
// 
//               0px  (6 * $line-padding) 0px white,
//               15px (6 * $line-padding) 0px white,
//               30px (6 * $line-padding) 0px white,
//               45px (6 * $line-padding) 0px white,
//               60px (6 * $line-padding) 0px white,
//               75px (6 * $line-padding) 0px white,
// 
//               8px  (7 * $line-padding) 0px white,
//               23px (7 * $line-padding) 0px white,
//               38px (7 * $line-padding) 0px white,
//               53px (7 * $line-padding) 0px white,
//               68px (7 * $line-padding) 0px white,
// 
//               0px  (8 * $line-padding) 0px white,
//               15px (8 * $line-padding) 0px white,
//               30px (8 * $line-padding) 0px white,
//               45px (8 * $line-padding) 0px white,
//               60px (8 * $line-padding) 0px white,
//               75px (8 * $line-padding) 0px white;
// }
// 
// 
// /**
//  * Union Jack
//  * Flag of the UK, will also be used on a lot of commonwealth countries
//  **/
// @mixin union-jack() {
//   $x: $width / 60;
//   $y: $height / 30;
// 
//   background-color:#00247D;
//   background-image:                   
//                    v-stripe(white, 10 * $x, 25 * $x),
//                    h-stripe(white, 10 * $y, 10 * $y);
// }
// 
// 
// /**
//  * Congo
//  * Three diagonal lines, with the borders of the center one going into the
//  * angles.
//  * We'll need a bit of math here.
//  *
//  * - The top left and bottom right parts are triangles.
//  * - They have a right angle
//  * - The center band goes through the flag angles, cutting it in half
//  * - So each triangle have a 45° angle in the corner
//  * - Thus, the last angle is also 45°
//  * - The triangles are isoceles
//  * - We can calculate its hypotenuse (1)
//  *
//  * - Drawing a line from the flag top left angle and the triangle hypothenus we
//  * make two new triangles.
//  * - They are also isoceles (same reasons as above)
//  * - So the line we draw is half the length of the hypotenuse (2)
//  *
//  * From that, we can construct our flag. But we need to be sure to make our
//  * math with unitless values.
//  **/
// @mixin flag-cog() {
//   $triangle-hypotenuse:round(sqrt(($_height * $_height) * 2)); /* 1 */
//   $triangle-length:round($triangle-hypotenuse / 2 * 1px); /* 2 */
//   $bar-length: $hypotenuse - (2 * $triangle-length);
// 
//   $a-size:$triangle-length;
//   $b-size:$a-size + $bar-length;
//   background-image:linear-gradient(135deg, #009543 $a-size, transparent $a-size),
//                    linear-gradient(135deg, #FBDE4A $b-size, transparent $b-size),
//                    linear-gradient(135deg, #DC241F 100%, transparent 100%);
// }
// 
// /**
//  *  Trinidad and Tobago
//  **/
// @mixin flag-tto() {
//   $triangle-hypotenuse:round(sqrt(($_height * $_height) * 2));
//   $triangle-length:round($triangle-hypotenuse / 2 * 1px);
//   $stripe-length:$width/30;
//   $bar-length: $hypotenuse - (2 * $triangle-length);
//   
//   $a-size:$triangle-length;
//   $b-size:$a-size + $stripe-length;
//   $c-size:$b-size + $bar-length;
//   $d-size:$c-size + $stripe-length;
// 
//   background-image:linear-gradient(45deg, #CE1126 $a-size, transparent $a-size),
//                    linear-gradient(45deg, white $b-size, transparent $b-size),
//                    linear-gradient(45deg, black $c-size, transparent $c-size),
//                    linear-gradient(45deg, white $d-size, transparent $d-size),
//                    linear-gradient(45deg, #CE1126 100%, transparent 100%);
// }
