// Create several columns of various width
// @args[0]: Color of the first column
// @args[1]: width of the first column
// @args[2]: Color of the second column
// @args[3]: width of the second column
// ...
// @args[(n-1)*2]: Color of the nth column
// @args[(n-1)*2 + 1]: Width of the nth column
@function columns($args...) {
  // Default values
  $start:0;
  $end: 0;
  $result: ();
  @for $i from 1 to length($args) + 1 {
    // Only interested in even numbers
    @if ($i % 2 == 0) {
      $color: nth($args, $i - 1);
      $width: nth($args, $i);
      $end: $start + $width;
      $result: append($result, $color round($start), comma);
      $result: append($result, $color round($end), comma);
      $start: $end;
    }
  }
  @return linear-gradient(90deg, $result);
}
@mixin columns($args...) {
  background-image: columns($args...);
}


// Two columns of equal width
// @args left: Color of left column
// @args right: Color of right column
@function two-columns($left, $right) {
  @return columns($left, 50%, $right, 50%);
}
@mixin two-columns($left, $right) {
  background-image: two-columns($left, $right);
}

// Three columns of equal width
// @args top: Color of left column
// @args center: Color of center column
// @args bottom: Color of right column
@function three-columns($left, $center, $right) {
  @return columns($left, 33.33%, $center, 33.33%, $right, 33.33%);
}
@mixin three-columns($left, $center, $right) {
  background-image: three-columns($left, $center, $right);
}
