// Square
// @args color: Color of the square
// @args size: Size of the square
// @args left: Left offset
// @args top: Top offset
@mixin square($color, $size, $left:0, $top:0) {
  $position-top: round($top - $size / 2);
  $position-left: round($left - $size / 2);
  $size: round($size);

  content: "";
  display: block;
  position: absolute;
  background-color: $color;
  width: $size;
  height: $size;
  left: $left;
  top: $top;
}
