// Create an horizontal stripe
// @args color: Color of the stripe
// @args height: Height of the stripe
// @args top: Distance from top
@function h-stripe($color, $height, $top:0) {
  @return stripe(180deg, $color, $height, $top);
}


// Create a vertical stripe
// @args color: Color of the stripe
// @args width: Width of the stripe
// @args left: Distance from left
@function v-stripe($color, $width, $left:0) {
  @return stripe(90deg, $color, $width, $left);
}


// Create a colored stripe, using background gradients
// @args angle: Angle (in deg) for the stripe
// @args color: Color of the stripe
// @args size: Width of the stripe
// @args distance: Distance from the border
@function stripe($angle, $color, $size, $distance:0) {
  @return linear-gradient($angle,
                          transparent, transparent $distance,
                          $color $distance, $color ($distance + $size),
                          transparent ($distance + $size), transparent 100%
                          );
}

// Create several stripes of various size
// @args angle: Angle of the stripes
// @args[1]: Color of the first stripe
// @args[2]: Height of the first stripe
// @args[3]: Color of the second stripe
// @args[4]: Height of the second stripe
// ...
// @args[n*2 - 1]: Color of the nth stripe
// @args[n*2]: Width of the nth stripe
@function stripes($angle, $args...) {
  $result: ();
  $offset:0;

  @for $i from 1 to length($args) + 1 {
    // Only interested in even numbers
    @if ($i % 2 == 0) {
      $color: nth($args, $i - 1);
      $size: nth($args, $i);
      $result: append($result, stripe($angle, $color, $size, $offset), comma);
      $offset: $offset + $size;
    }
  }
  @return $result;
}
@mixin stripes($args...) {
  background-image: stripes($args...);
}





// Create a colored stripe, with limited width and height
// @args angle: Angle (in deg) for the stripe
// @args color: Color of the stripe
// @args size: Width of the stripe
// @args distance: Distance from the border
// @args max_width: Width of constraining rectangle
// @args max_height: Height of constraining rectangle
// @args left: Left offset of the stripe
// @args top: Top offset of the stripe
@function stripe-constrained($angle, $color, $size, $distance:0, $max_width:100%, $max_height:100%, $left:0, $top:0) {
  @return linear-gradient($angle,
                          transparent, transparent $distance,
                          $color $distance, $color ($distance + $size),
                          transparent ($distance + $size), transparent 100%
                          ) $left #{$top}/#{$max_width} $max_height no-repeat
}
