$UTF8_BLACK_STAR: '\2605';
$UTF8_STAR_COMMONWEALTH: '\e612';
$UTF8_COUNTRY_BRB: '\e611';
$UTF8_COUNTRY_PHL: '\e610';
$UTF8_COUNTRY_TJK: '\e609';
$UTF8_COUNTRY_PNG: '\e608';
$UTF8_COUNTRY_BRN: '\e607';
$UTF8_COUNTRY_IND: '\e606';
$UTF8_COUNTRY_ERI: '\e605';
$UTF8_COUNTRY_ATG: '\e604';
$UTF8_COUNTRY_MYS: '\e603';
$UTF8_COUNTRY_AFG: '\e602';
$UTF8_COUNTRY_AGO: '\e601';
$UTF8_COUNTRY_ALB: '\e600';
$UTF8_HEAVY_EIGHT_POINTED_RECTILINEAR_BLACK_STAR: '\2738';
$UTF8_MAPLE_LEAF: '\1F341';
$UTF8_PENTAGRAM: '\26e4';
$UTF8_STAR_OF_DAVID: '\2721';

// Symbol
// @args symbol: UTF-8 char to center
// @args color: Color of the symbol
// @args size: Size of the symbol
// @args left: Left offset for center of symbol
// @args top: Top offset for center of symbol
@mixin symbol($symbol, $color, $size, $left:0, $top:0) {
  $position-top: round($top - $size / 2);
  $position-left: round($left - $size / 2);
  $size: round($size);

  color:$color;
  content:$symbol;
  font-size: $size;
  height: $size;
  line-height: $size;
  text-align: center;
  position:absolute;
  width: $size;
  top: $position-top;
  left: $position-left;
}
// Centered symbol
// @args symbol: UTF-8 char to center
// @args color: Color of the symbol
// @args size: Size of the symbol
@mixin centered-symbol($symbol, $color, $size:$h3) {
  @include symbol($symbol, $color, $size, $w2, $h2);
}
// Star
// @args color: Color of the symbol
// @args size: Size of the symbol
@mixin star($color, $size:$h3, $left:0, $top:0) {
  @include symbol($UTF8_BLACK_STAR, $color, $size, $left, $top);
}
// Centered star
// @args color: Color of the star
// @args size: Size of the star (default to 1/3 of height)
@mixin centered-star($color, $size:$h3) {
  @include centered-symbol($UTF8_BLACK_STAR, $color, $size);
}
