// Centered star
// @args color: Color of the star
// @args size: Size of the star (default to 1/3 of height)
@mixin centered-star($color, $size:$h3) {
  @include centered-symbol($UTF8_BLACK_STAR, $color, $size);
}

// Centered symbol
// @args symbol: UTF-8 char to center
// @args color: Color of the symbol
// @args size: Size of the symbol
@mixin centered-symbol($symbol, $color, $size:$h3) {
  @include symbol($symbol, $color, $size);
  display:block;
  height:$height;
  width:$width;
  line-height:$height;
  text-align:center;
}

// Symbol
// @args symbol: UTF-8 char to center
// @args color: Color of the symbol
// @args size: Size of the symbol
@mixin symbol($symbol, $color, $size) {
  content:$symbol;
  color:$color;
  position:absolute;
  font-family: Symbols;
  font-size:$size;
}

// Star
// @args color: Color of the symbol
// @args size: Size of the symbol
@mixin star($color, $size:$h3) {
  @include symbol($UTF8_BLACK_STAR, $color, $size);
  font-size: $size;
  line-height: $size;
  height: $size;
  // overflow:hidden;
}

