// Creates a triangle by setting borders on an element
// By default, triangles are pointing right, with full height
// @args color: Color to fill the triangle
// @args width: Diam
@mixin triangle($color, $size) {
  @include triangle-right($color, $size);
}

// Creates a triangle, pointing right
// @args color: Color of the triangle
// @args width: Width of the triangle
// @args height: Height of the triangle
// @args left: Left offset of the triangle
// @args top: Top offset of the triangle
@mixin triangle-right($color, $_width, $_height:$height, $left:0, $top:0) {
  content: "";
  display: block;
  position: absolute;
  top: $top;
  left: $left;
  width: $_width;
  height: $_height;
  background-color: $color;

  -webkit-clip-path: polygon(0 0, 100% 50%, 0 100%);
  clip-path: polygon(0 0, 100% 50%, 0 100%);
}

// Creates several triangles, on a vertical stripe
// @args color: Color of the triangles
// @args number: Number of triangles to display
// @args width: Width of the triangles
// @args height: Height of the triangles
// @args left: Left offset of the stripe
@function vertical-stripe-of-triangles($color, $number, $_width, $_height, $left:0) {
  $half-height: $_height / 2;
  $result: ();
  @for $i from 1 to $number + 1 {
    $n1: (2 * $i) - 1;
    $n2: 2 * $i;
    $result: append($result, $_width ($n1 * $half-height), comma);
    $result: append($result, 0px     ($n2 * $half-height), comma);
  }
  @return polygon(0px 0px, $result)
}
@mixin vertical-stripe-of-triangles($color, $number, $_width, $_height, $left:0) {
  @include rectangle($color, $_width, $height, $left);
  -webkit-clip-path: vertical-stripe-of-triangles($color, $number, $_width, $_height, $left);
  clip-path: vertical-stripe-of-triangles($color, $number, $_width, $_height, $left);
}
