$header-background: $green;
$header-color: transparentize(white, .3);
$header-color-hover: white;
$header-height: 60px;
$header-z-index: 999;

.c-header {
  background-color: $header-background;
  border-bottom: 1px solid darken($header-background, 10);
  color: $header-color;
  height: $header-height;
  width: 100%;
  z-index: $header-z-index;
}

.c-header__title {
  display: block;
  float: left;
  font-size: 2rem;
  height: $header-height;
  line-height: $header-height;
  margin: 0;
  a {
    color: white;
  }
}

.c-header__source {
  color: white;
  position: absolute;
  bottom: 0px;
  right: 20px;
  font-size: .9rem;
  &:hover {
    color: white;
    text-decoration: underline;
  }
}
