$searchbar-width: 550px;
$searchbar-icon-width: 30px;
$searchbar-input-width: $searchbar-width - $searchbar-icon-width;

.c-searchbar {
  border-bottom: 3px solid white;
  color: #FFF;
  float: right;
  height: 30px;
  margin-right: 240px;
  margin-top: 20px;
  width: $searchbar-width;
  // I should not have to make this selector that precise, but Bourbon is adding
  // very precise input selectors that I need to overwrite
  .c-searchbar--input {
    background: transparent;
    border: transparent;
    box-shadow: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    width: $searchbar-input-width;
    @include placeholder {
      color: #FFF;
    }
    &:focus {
      border: 0;
      box-shadow: none;
      outline: none;
    }
  }
}
// Hide searchbar on smaller screens
@media (max-width: 960px) {
  .c-searchbar {
    display: none;
  }
}

em {
  color: #90A959;
  font-style: normal;
}
